.overdue {
    background-color: #A94442;
}
.box-overlay {
    display: none;
}
.resource-box:hover .box-overlay {
    display: block;
}


.popover {
    color: #333;
}

.jumbotron {
    margin-top: -20px;
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 0 !important;
}




.required-field:before {
  content: "* ";
}
