/*
    Document   : filelist
    Created on : 2009-09-04, 20:44:44
    Author     : lreqc
    Description:
        Dodatkowe style dla listy plików na stronie głównej.
*/

body {
	background-color: #84BF2A;
}

#content {
    background: #EFEFEF;
    border: 1px solid black;
    padding: 0.5em 2em;
    margin: 1em;
	overflow: hidden;
}

#content h1 img {
	vertical-align: middle;
}

#content h1 {
	border-bottom: 2px solid black;
	padding: 0.5em;
	font-size: 2opt;
	font-family: sans-serif;
}

#file-list {
	overflow: visible;
	float: left;
	max-width: 50%;
	padding-right: 2%;
	border-right: 1px dashed black;

}

#last-edited-list {
	float: left;
	max-width: 35%;
	margin-left: 5%;
}

#last-edited-list ul {
	margin: 0px;
}

#last-edited-list li {
	margin-bottom: 1em;
}

#last-edited-list .date {
	font-size: 70%;
	color: grey;
}

a, a:visited, a:active {
	color: blue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


#loading-overlay {
	display: none;
}
