#sidebar {
    display:none;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 480px;
    background-color: #FFF;
}

#side-search {
    height: 100%;
    display: none;
    background-color: #C1C1C1;
}

#side-search p {
    padding: .5em;
}

#side-annotations {
    display: none;
}

.annotations-list {
    position: absolute;
    left: 0;
    top: 28px;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding: 1em 1em 0 1em;
}

#side-annotations p.akap {
    font-size: 16px;
    font-family: "Georgia", "Times New Roman", serif;
    line-height: 1.5em;
    margin-bottom: 1em;
}

/* =========== */
/* = Gallery = */
/* =========== */

#side-gallery .error_message
{
	background-color: white;
	color: black;
	padding: 0.5em 1em;
}

.change-gallery-panel {
    width: 100%;
    border-bottom: 1px solid #777;
    background-color: #C1C1C1;
    margin: 0;
    padding: 2px;
    z-index: 10;
}

.gallery-image {
    position: absolute;
    top: 30px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    overflow: hidden;
}

.gallery-image img {
    position: absolute;
    -moz-drag: none;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    cursor: pointer;

	background-color: white;
	min-height: 100px;
	min-width: 100px;
}

.gallery-image img[src=''] {
	background-color: red;
}
