{% extends "base.html" %}

{% block extrahead %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/toolbar.css" type="text/css" />
    <script src="{{STATIC_URL}}js/jquery.lazyload.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL}}js/codemirror/codemirror.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL}}js/jquery.autoscroll.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL}}js/jquery.wtooltip.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL}}js/jquery.hpanel.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL}}js/jquery.json.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL}}js/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL}}js/editor.js" type="text/javascript" charset="utf-8"></script>

{% endblock extrahead %}

{% block extrabody %}
    <script type="text/javascript" charset="utf-8">
    $(function() {
        {% for scriptlet in scriptlets %}
        editor.registerScriptlet("{{scriptlet.name}}",
            function(editor, panel, params) {
                {{ scriptlet.code|safe }}
            });
        {% endfor %}
     });  
    </script>
{% endblock extrabody %}

{% block breadcrumbs %}<a href="{% url file_list %}">Platforma Redakcyjna</a> &gt; plik {{ fileid }}{% endblock breadcrumbs %}

{% block header-toolbar %}

<form action="{% url file_commit fileid %}" method="POST" style="display: inline;" id="toolbar-commit-form">
    <input type="text" size="40" id="toolbar-commit-message" name="message" />
    <button type="submit" class="toolbar-button" id="toolbar-button-commit">Merge</button>
</form>
<button type="button" class="toolbar-button" id="toolbar-button-update"
        ui:ajax-action="{% url file_update fileid %}">Update</button>
<button type="button" class="toolbar-button" id="toolbar-button-save" disabled="disabled">Save</button>
{% endblock %}

{% block message-box %}
    <div class="msg-info" id="save-waiting"><p>Zapisuję dane na serwerze.</p><p class="data"></p></div>
    <div class="msg-success" id="save-successful"><p>Zapisano :)</p><p class="data"></p></div>
    <div class="msg-warning" id="save-warn"><p>Zapisano. Uwagi: (</p><p class="data"></p></div>
    <div class="msg-error" id="save-error"><p>Błąd przy zapisie.</p> <p class="data"></p></div>

    <div class="msg-success" id="generic-yes"><p class="data"></p></div>
    <div class="msg-info" id="generic-info"><p class="data"></p></div>
    <div class="msg-error" id="generic-error"><p class="data"></p></div>
    
    <div class="msg-warning" id="not-implemented"><p>Tej funkcji jeszcze nie ma :(</p><p class="data"></p></div>
    
{% endblock %}

{% block maincontent %}
        <div id="panels">
            {% for n in panel_list %}
            <div class="panel-wrap{% if forloop.last %} last-panel{% endif %}" id="panel-{{n}}">
                <div class="panel-toolbar">
                    <p><label>{{n|capfirst}} panel:
                    <select name="select-{{n}}-panel" id="panel-{{n}}-select">
                        {% for panel_type in availble_panels %}
                        <option value="{% url panel_view path=fileid,name=panel_type.id  %}" p:panel-name="{{ panel_type.id }}">{{panel_type.display_name}}</option>
                        {% endfor %}
                    </select>
                    </label>
                    <span class="toolbar-button-groups-container">
                    <span class="panel-toolbar-extra" > </span>
                    </span>
                    <!-- rethink the refresh button - it doesn't work very well -->
                    <!-- <button type="button" class="refresh-button">Odśwież</button> -->
                    {# <a href="{% url print_xml fileid %}" target="_new">Wydruk</a> #}
                    <strong class="change-notification" style="display: none">Widok nieaktualny!</strong>
                    </p>
               </div>
               <div id="panel-{{n}}-content" class="panel-content"></div>
               <button type="button" class="panel-slider"></button>
            </div>
            {% endfor %}
        </div>
{% endblock maincontent %}    
