{% extends "base.html" %}

{% block extrahead %}
    <script src="/static/js/jquery.lazyload.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/codemirror/codemirror.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/jquery.autoscroll.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/jquery.wtooltip.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/jquery.hpanel.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/jquery.json.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/editor.js" type="text/javascript" charset="utf-8"></script>
{% endblock extrahead %}

{% block breadcrumbs %}<a href="{% url file_list %}">Platforma Redakcyjna</a> ❯ plik {{ hash }}{% endblock breadcrumbs %}

{% block header-toolbar %}
	<button type="button" class="toolbar-button" id="toolbar-button-save" disabled="disabled">Zapisz</button>
{% endblock %}
{% block maincontent %}
        <div id="panels">
            {% for n in panel_list %}
            <div class="panel-wrap" id="panel-{{n}}">
                <div class="panel-toolbar">
                    <label for="select-left-panel">{{n|capfirst}} panel:</label>
                    <select name="select-left-panel" id="panel-{{n}}-select">
                        <option value="{% url xmleditor_panel hash %}">Edytor XML</option>
                        <option value="{% url htmleditor_panel hash %}">Edytor HTML</option>
                        <option value="{% url gallery_panel hash %}">Galeria skanów</option>
                        <option value="{% url dceditor_panel hash %}">Edytor DublinCore</option>
                    </select>
                    <strong class="change-notification" style="display: none">Widok nieaktualny!</strong>
               </div>
               <div id="panel-{{n}}-content" class="panel-content"></div>
               <button type="button" class="panel-slider"></button>
            </div>
            {% endfor %}
        </div>
{% endblock maincontent %}    
