{% extends "base.html" %}

{% block extrahead %}
	<script type="text/javascript" charset="utf-8">
		var fileId = '{{ fileid }}';
	</script>
    <link rel="stylesheet" href="{{STATIC_URL}}css/toolbar.css" type="text/css" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/jquery.modal.css" type="text/css" />
    <script src="{{STATIC_URL}}js/jquery.lazyload.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL}}js/codemirror/codemirror.js" type="text/javascript" charset="utf-8"></script>
    <!--<script src="{{STATIC_URL}}js/jquery.autoscroll.js" type="text/javascript" charset="utf-8"></script>-->
    <script src="{{STATIC_URL}}js/jquery.wtooltip.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL}}js/jquery.json.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL}}js/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL}}js/jquery.modal.js" type="text/javascript" charset="utf-8"></script>

    <script src="{{STATIC_URL}}js/editor.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL}}js/editor.ui.js" type="text/javascript" charset="utf-8"></script>
{% endblock extrahead %}

{% block extrabody %}
    <script type="text/javascript" charset="utf-8">
    $(function() {
        {% for scriptlet in scriptlets %}
        editor.registerScriptlet("{{scriptlet.name}}",
            function(editor, panel, params) {
                {{ scriptlet.code|safe }}
            });
        {% endfor %}
     });  
    </script>
{% endblock extrabody %}

 {% load explorer_tags %}

{% block breadcrumbs %}<a href="{% url file_list %}">Platforma Redakcyjna</a> &gt; {{ fileid|bookname }}{% endblock breadcrumbs %}

{% block header-toolbar %}


<button type="button" class="toolbar-button" id="toolbar-button-commit">Merge</button>
<button type="button" class="toolbar-button" id="toolbar-button-update"
        ui:ajax-action="{% url file_update fileid %}">Update</button>
<button type="button" class="toolbar-button" id="toolbar-button-save" disabled="disabled">Save</button>
{% endblock %}

{% block message-box %}
    <div class="msg-info" id="save-waiting"><p>Zapisuję dane na serwerze.</p><p class="data"></p></div>
    <div class="msg-success" id="save-successful"><p>Zapisano :)</p><p class="data"></p></div>
    <div class="msg-warning" id="save-warn"><p>Zapisano. Uwagi: (</p><p class="data"></p></div>
    <div class="msg-error" id="save-error"><p>Błąd przy zapisie.</p> <p class="data"></p></div>

    <div class="msg-success" id="generic-yes"><p class="data"></p></div>
    <div class="msg-info" id="generic-info"><p class="data"></p></div>
    <div class="msg-error" id="generic-error"><p class="data"></p></div>
    
    <div class="msg-warning" id="not-implemented"><p>Tej funkcji jeszcze nie ma :(</p><p class="data"></p></div>
    
{% endblock %}

{% block maincontent %}
        <div id="panels">
            {% for n in panel_list %}
            <div class="panel-wrap{% if forloop.last %} last-panel{% endif %}" id="panel-{{n}}">
                <div class="panel-toolbar">
                    <p><label>{{n|capfirst}} panel:
                    <select name="select-{{n}}-panel" id="panel-{{n}}-select">
                        {% for panel_type in availble_panels %}
                        <option value="{% url panel_view path=fileid,name=panel_type.id  %}" p:panel-name="{{ panel_type.id }}">{{panel_type.display_name}}</option>
                        {% endfor %}
                    </select>
                    </label>
                    <span class="toolbar-button-groups-container">
                    <span class="panel-toolbar-extra" > </span>
                    </span>
                    <!-- rethink the refresh button - it doesn't work very well -->
                    <!-- <button type="button" class="refresh-button">Odśwież</button> -->
                    {# <a href="{% url print_xml fileid %}" target="_new">Wydruk</a> #}
                    <strong class="change-notification" style="display: none">Widok nieaktualny!</strong>
                    </p>
               </div>
               <div id="panel-{{n}}-content" class="panel-content"></div>
               <button type="button" class="panel-slider"></button>
            </div>
            {% endfor %}
        </div>
        <div id="commit-dialog" class="jqmWindow">
            <form action="{% url file_commit fileid %}" method="POST">
                <label for="message">Commit message:</label>
                <textarea cols="60" rows="15" name="message" id="commit-dialog-message"></textarea>
                <p id="commit-dialog-error-empty-message">Wiadomość nie może być pusta.</p>
                <p>
                   <input type="submit" value="Save" id="commit-dialog-save-button" />
                   <input type="reset" value="Cancel" id="commit-dialog-cancel-button" />
                </p>
            </form>
        </div>

        <div id="split-dialog" class="jqmWindow">
            <div class="container-box"> </div>
            <div class="loading-box" style="display: none;">
                <p>Wczytuję zawartość okna...</p>
                <!-- <p><button type="button" class="dialog-close-button">Close</button></p> -->
            </div>
            <div class="fatal-error-box" style="display: none;">
                <p>Server error, while loading dialog :(</p>
                <p><button type="button" class="dialog-close-button">Close</button></p>
            </div>
        </div>
{% endblock maincontent %}    
