{% extends "base.html" %}

{% block extrahead %}
    <script src="/static/js/jquery.lazyload.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/codemirror/codemirror.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/jquery.autoscroll.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/jquery.wtooltip.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/jquery.resizable.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/panels.js" type="text/javascript" charset="utf-8"></script>
{% endblock extrahead %}

{% block breadcrumbs %}<a href="{% url file_list %}">Platforma Redakcyjna</a> ❯ plik {{ hash }}{% endblock breadcrumbs %}

{% block maincontent %}
        <div id="panels">
            <div id="left-panel-wrap" class="panel-wrap">
                <div id="left-panel" class="panel">
                    <div id="slider" style="float: right"></div>
                    <div style="margin-right: 10px">
                        <div id="left-panel-toolbar" class="panel-toolbar">
                            <label for="select-left-panel">Lewy panel:</label>
                            <select name="select-left-panel" id="select-left-panel">
                                <option value="{% url xmleditor_panel hash %}">Edytor XML</option>
                                <option value="{% url htmleditor_panel hash %}">Edytor HTML</option>
                                <option value="{% url gallery_panel hash %}">Galeria skanów</option>                            
                            </select>
                        </div>
                        <div id="left-panel-contents" class="panel-contents">
                        </div>
                    </div>
                </div>
            </div>
            <div id="right-panel-wrap" class="panel-wrap">
                <div id="right-panel" class="panel">
                    <div id="right-panel-toolbar" class="panel-toolbar">
                        <label for="select-right-panel">Prawy panel:</label>
                        <select name="select-right-panel" id="select-right-panel">
                            <option value="{% url xmleditor_panel hash %}">Edytor XML</option>
                            <option value="{% url htmleditor_panel hash %}">Edytor HTML</option>
                            <option value="{% url gallery_panel hash %}">Galeria skanów</option>
                        </select>
                    </div>
                    <div id="right-panel-contents" class="panel-contents">
                    </div>
                </div>
            </div>
        </div>
{% endblock maincontent %}    
