{% extends "base.html" %}

{% block extrahead %}
    <script src="/static/js/jquery.fieldselection.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/jquery.lazyload.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/codemirror/codemirror.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/jquery.autoscroll.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">        
        $(function() {
            $('#id_folders').change(function() {
                $('#images').load('/images/' + $('#id_folders').val() + '/', function() {
                    $('#images').data('lastScroll', -1000);
                });
            });
            
            function resizePanels() {
                $('iframe').width($(window).width() - $('#sidebar').outerWidth());
                $('iframe').height($(window).height() - 100);
                $('#images-wrap, #toggle-sidebar').height($(window).height() - 100);
            }
            
            $('#toggle-sidebar').toggle(function() {
                $('#images-wrap').width(480);
                $('#sidebar').width(488);
                resizePanels();
            }, function() {
                $('#images-wrap').width(0);
                $('#sidebar').width(8);
                resizePanels();
            })
            
            $(window).resize(function() {
                resizePanels();
            })
            
            var editor = CodeMirror.fromTextArea("id_text", {
                parserfile: 'parsexml.js',
                path: "/static/js/codemirror/",
                stylesheet: "/static/css/xmlcolors.css",
                parserConfig: {useHTMLKludges: false},
                initCallback: function() {
                    $('#images').autoscroll('iframe');
                    $('.toggleAutoscroll').toggle(function() {
                        $(this).html('Synchronizuj przewijanie');
                        $('#images').disableAutoscroll();
                    }, function() {
                        $(this).html('Nie synchronizuj przewijania');
                        $('#images').enableAutoscroll();
                    })

                    keys = {}
                    
                    function addEditorButton(editor, label, keyCode, fn) {
                        var handler = function() {
                            var text = editor.selection();
                            editor.replaceSelection(fn(text));
                        }
                        
                        keys[keyCode] = handler;
                        
                        $('<button type="button">' + label + '</button>').click(function(event) {
                            event.preventDefault();
                            handler();
                        }).appendTo('#buttons');
                    }
                    
                    addEditorButton(editor, 'utwór', 65, function(text) { return '<utwor>' + text + '</utwor>'; });
                    addEditorButton(editor, 'akap', 83, function(text) { return '<akap>' + text + '</akap>'; });
                    
                    editor.grabKeys(function(event) { 
                        // console.log('handle', event, event.keyCode)
                        if (keys[event.keyCode]) {
                            keys[event.keyCode]();
                        }
                    }, function(event) { return event.ctrlKey && event.keyCode != 17; });

                    resizePanels();
                }
            });

            $('#images-wrap').lazyload('.image-box', {threshold: 640 * 10, scrollTreshold: 640 * 5});
        });

    </script>
{% endblock extrahead %}

{% block breadcrumbs %}<a href="{% url file_list %}">Platforma Redakcyjna</a> ❯ plik {{ hash }}{% endblock breadcrumbs %}

{% block maincontent %}
    <div id="tabs">
        <a href="{% url file_xml hash %}" class="active">Źródło</a>
        <a href="{% url file_html hash %}">HTML</a>
        <div style="float: left" id="buttons"></div>
        <div style="clear: both; height: 0; width: 0">&nbsp;</div>
    </div>
    
    <form action="." method="post" accept-charset="utf-8">
        <div id="panels">
            <div id="sidebar">
                <div id="images-wrap">
                    <div id="images">
                        <p>Aby zobaczyć obrazki wybierz folder poniżej:</p>
                        <p>{{ image_folders_form.folders }}</p>
                    </div>
                </div>
                <div id="toggle-sidebar"></div>
            </div>
            <textarea id="id_text" name="text" width="480px">{{ form.text.field.initial }}</textarea>
        </div>
        
        <div id="status-bar">
            {{ form.user.errors }} {{ form.commit_message.errors }}
            <p>
                Użytkownik: {{ form.user }}
                Opis zmian: {{ form.commit_message }}
                <input type="submit" value="Zapisz"/>
                <a href="#" class="toggleAutoscroll" style="float: right">Nie synchronizuj przewijania</a>
            </p>
        </div>
    </form>
{% endblock maincontent %}    
