{% extends "base.html" %}
{% load toolbar_tags %}

{% block extrahead %}
    <script src="/static/js/jquery.fieldselection.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/jquery.lazyload.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/codemirror/codemirror.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/jquery.autoscroll.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/jquery.wtooltip.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">        
        $(function() {
            $('#id_folders').change(function() {
                $('#images').load('{% url folder_image_ajax %}' + $('#id_folders').val() + '/', function() {
                    $('#images').data('lastScroll', -1000);
                });
            });
            
            function resizePanels() {
                $('iframe').width($(window).width() - $('#sidebar').outerWidth());
                $('iframe').height($(window).height() - 100);
                $('#images-wrap, #toggle-sidebar').height($(window).height() - 100);
            }
            
            $('#toggle-sidebar').toggle(function() {
                $('#images-wrap').width(480);
                $('#sidebar').width(488);
                $('#images-wrap').data('lazyload:lastCheckedScrollTop', -10000);
                resizePanels();
            }, function() {
                $('#images-wrap').width(0);
                $('#sidebar').width(8);
                resizePanels();
            })
            
            $(window).resize(function() {
                resizePanels();
            })
            
            var editor = CodeMirror.fromTextArea("id_text", {
                parserfile: 'parsexml.js',
                path: "/static/js/codemirror/",
                stylesheet: "/static/css/xmlcolors.css",
                parserConfig: {useHTMLKludges: false},
                initCallback: function() {
                    $('#images').autoscroll('iframe');
                    $('.toggleAutoscroll').toggle(function() {
                        $(this).html('Synchronizuj przewijanie');
                        $('#images').disableAutoscroll();
                    }, function() {
                        $(this).html('Nie synchronizuj przewijania');
                        $('#images').enableAutoscroll();
                    })
                    
                    // Toolbar
                    $('#toolbar-tabs li').click(function() {
                        var id = $(this).attr('p:button-list');
                        $('#toolbar-tabs li').removeClass('active');
                        $(this).addClass('active');
                        if (!$('#' + id).is(':visible')) {
                            $('#toolbar-buttons ol').not('#' + id).hide();
                            $('#' + id).show();
                        }
                    })

                    var keys = {};
                    $('#toolbar-buttons li').each(function() {
                        var tag = $(this).attr('p:tag');
                        var handler = function() {
                            var text = editor.selection();
                            editor.replaceSelection('<' + tag + '>' + text + '</' + tag + '>');
                            if (text.length == 0) {
                                var pos = editor.cursorPosition();
                                editor.selectLines(pos.line, pos.character + tag.length + 2);
                            }
                        }
                        if ($(this).attr('p:key')) {
                            keys[$(this).attr('p:key')] = handler;
                        }
                        $(this).click(handler)
                    });
                    
                    editor.grabKeys(function(event) { 
                        console.log('handle', event, event.keyCode)
                        if (keys[event.keyCode]) {
                            keys[event.keyCode]();
                        }
                    }, function(event) {
                        return event.ctrlKey && keys[event.keyCode];
                    });

                    resizePanels();
                }
            });
            
            $('#toolbar-buttons li').wTooltip({
                delay: 1000, 
                style: {
                    border: "1px solid #7F7D67",
                    opacity: 0.9, 
                    background: "#FBFBC6", 
                    padding: "1px",
                    fontSize: "12px",
                }});
            
            $('#images-wrap').lazyload('.image-box', {threshold: 640 * 10, scrollTreshold: 640 * 5});
        });

    </script>
{% endblock extrahead %}

{% block breadcrumbs %}<a href="{% url file_list %}">Platforma Redakcyjna</a> ❯ plik {{ hash }}{% endblock breadcrumbs %}

{% block maincontent %}
    {% toolbar %}
    
    <form action="." method="post" accept-charset="utf-8">
        <div id="panels">
            <div id="sidebar">
                <div id="images-wrap">
                    <div id="images">
                        <p>Aby zobaczyć obrazki wybierz folder poniżej:</p>
                        <p>{{ image_folders_form.folders }}</p>
                    </div>
                </div>
                <div id="toggle-sidebar"></div>
            </div>
            <textarea id="id_text" name="text" width="480px">{{ form.text.field.initial }}</textarea>
        </div>
        
        <div id="status-bar">
            {{ form.user.errors }} {{ form.commit_message.errors }}
            <p>
                Użytkownik: {{ form.user }}
                Opis zmian: {{ form.commit_message }}
                <input type="submit" value="Zapisz"/>
                <a href="#" class="toggleAutoscroll" style="float: right">Nie synchronizuj przewijania</a>
            </p>
        </div>
    </form>
{% endblock maincontent %}    
