/* 
    Document   : filelist
    Created on : 2009-09-04, 20:44:44
    Author     : lreqc
    Description:
        Dodatkowe style dla listy plików na stronie głównej.
*/

body {
	background-color: #84BF2A;
}

#content {
    background: #EFEFEF;
    border: 1px solid black;
    padding: 0.5em 2em;
    margin: 1em;
	overflow: hidden;    
}

#content h1 img {
	vertical-align: middle;
}

#content h1 {
	border-bottom: 2px solid black;
	padding: 0.5em;
	font-size: 2opt;
	font-family: sans-serif;
}

.document-list {
	overflow: visible;
	float: left;
	max-width: 60%;
}

.document-list .page-nav-wrap button {
    width: 2.5em;
}

ul.file-tree-part {    
    margin: 0.5em 1em;
    padding: 0em;
}

ul.file-tree-part li {
    list-style: square;    
    padding: 0em;    
}

ul.file-tree-part a {
    padding: 0em;
}
