/* Style widoku HTML. Nie należy tu ustawiać position ani marginesów */

@namespace wl2o "";

.htmlview {
    counter-reset: main;
    font-size: 16px;
    font-family: "Georgia", "Times New Roman", serif;
    line-height: 1.5em;
    padding: 3em;    
}

.htmlview div {
    max-width: 36em;
}

.htmlview #toc {
    display: none;
}

.htmlview a {
    color: blue;
    text-decoration: none;
}

.htmlview h1 {
    font-size: 3em;
    margin: 1.5em 0;
    text-align: center;
    line-height: 1.5em;
    font-weight: bold;
}

.htmlview h2 {
    font-size: 2em;
    margin: 1.5em 0 0;
    font-weight: bold;
    line-height: 1.5em;
}

.htmlview h3 {
    font-size: 1.5em;
    margin: 1.5em 0 0;
    font-weight: normal;
    line-height: 1.5em;
}

.htmlview h4 {
    font-size: 1em;
    margin: 1.5em 0 0;
    line-height: 1.5em;
}

.htmlview p {
    margin: 0;
}

/* ======================== */
/* = Footnotes and themes = */
/* ======================== */
.htmlview .theme-begin {
    border-left: 0.1em solid #DDDDDD;
    color: #777;
    padding: 0 0.5em;
    width: 7.5em;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    float: right;
    margin-right: -9.5em;
    clear: both;
    left: 40em;
    line-height: 1.5em;
    text-align: left;
}

.htmlview #footnotes div {
    margin: 1.5em 0 0 0;
}

.htmlview #footnotes p {
    margin-left: 2.5em;
    font-size: 0.875em;
}

.htmlview blockquote {
    font-size: 0.875em;
}

/* ============= */
/* = Numbering = */
/* ============= */
.htmlview .anchor {
    position: relative;
    margin: 0em;
    left: -2.2em;
    color: #777;
    font-size: 12px;
    width: 2em;
    text-align: center;
    padding: 0.25em 0.7em;
    line-height: 1.5em;
}

.htmlview .anchor:hover, .htmlview .anchor:active {
    color: #FFF;
    background-color: #CCC;
}

/* =================== */
/* = Custom elements = */
/* =================== */
.htmlview .autor_utwor {
    font-size: 0.5em;
    display: block;
    line-height: 1.5em;
    margin-bottom: 0.25em;
}

.htmlview .dzielo_nadrzedne {
    font-size: 0.375em;
    display: block;
    line-height: 1.5em;
    margin-bottom: -0.25em;
}

.htmlview .podtytul {
    font-size: 0.5em;
    display: block;
    line-height: 1.5em;
    margin-top: -0.25em;
}

.htmlview .didaskalia {
    font-style: italic;
    margin: 0.5em 0 0 1.5em;
}

.htmlview .kwestia {
    margin: 0.5em 0 0;
}

.htmlview .strofa {
    margin: 1.5em 0 0 auto;    
}

.htmlview .kwestia .strofa {
    margin: 0;
}

.htmlview .akap, .htmlview .akap_cd, .htmlview .akap_dialog {
    text-align: justify;
    margin: 1.5em 0 0;
}

.htmlview p.motto {
    text-align: justify;
    font-style: italic;
    margin: 1.5em 0 0;
}

.htmlview p.motto_podpis {
    font-size: 0.875em;
    text-align: right;
}

.htmlview div.fragment {
    border-bottom: 0.1em solid #999;
    padding-bottom: 1.5em;
}

.htmlview div.nota p,
.htmlview div.dedykacja p {
    text-align: right;
    font-style: italic;
}

.htmlview br.sekcja_swiatlo {
    height: 3em;
    /* visibility: hidden; */
}

.htmlview hr.separator_linia {
    margin: 1.5em 0;
    border: none;
    border-bottom: 0.1em solid #000;
}

.htmlview p.sekcja_asterysk {
    padding: 0;
    margin: 1.5em 0;
    text-align: center;
}

.htmlview div.lista_osob ol {
    list-style: none;
    padding: 0 0 0 1.5em;
}

.htmlview p.miejsce_czas {
    font-style: italic;
}

.htmlview .mat,
.htmlview .slowo_obce,
.htmlview .tytul_dziela,
.htmlview .didaskalia {
    font-style: italic;
}

.htmlview .wyroznienie {
    letter-spacing: 0.1em;
}

.htmlview .osoba {
    font-style: normal;
    font-variant: small-caps;
}

.htmlview .parse-warning {
    display: block;
    font-size: 10pt;
    background: #C0C0C0;
    margin: 1em;
}

/* Przypisy */
.htmlview .annotation {    
    vertical-align: super;
    text-decoration: none;
    font-size: 0.66em;
}

.htmlview a:hover {
    text-decoration: none;
}

/* .htmlview .annotation:before {
    content: "[\2217]";
} */

.htmlview span.annotation:before {
    content: "[" counter(main) "]";
    counter-increment: main;
}

.htmlview *[wl2o\:editable] {
    background-color: pink;
}

.htmlview *[wl2o\:editable] *[wl2o\:editable] {
    background-color: red;
}


.htmlview .annotation:hover {
    background-color: #dfdfdf;
}

.parse-warning .message {
    color: purple;
    font-weight: bold;
}