/* Style widoku HTML. Nie należy tu ustawiać position ani marginesów */

.htmlview {
    counter-reset: main;
    font-size: 16px;
    font-family: "Georgia", "Times New Roman", serif;
    line-height: 1.5em;
    padding: 3em;
    padding-left: 55px;
}

.htmlview *[x-node='rdf:RDF'] {
    display: none;
}

.htmlview * {
    position: relative;
}

.htmlview div {
    max-width: 36em;
}

.htmlview #toc {
    display: none;
}

.htmlview a {
    color: blue;
    text-decoration: none;
}

.htmlview a:hover {
    text-decoration: none;
}

.htmlview h1 {
    font-size: 3em;
    margin: 1.5em 0;
    text-align: center;
    line-height: 1.5em;
    font-weight: bold;

    text-transform: capitalize;
}

.htmlview h2 {
    font-size: 2em;
    margin: 1.5em 0 0;
    font-weight: bold;
    line-height: 1.5em;
}

.htmlview h3 {
    font-size: 1.5em;
    margin: 1.5em 0 0;
    font-weight: normal;
    line-height: 1.5em;
}

.htmlview h4 {
    font-size: 1em;
    margin: 1.5em 0 0;
    line-height: 1.5em;
}

.htmlview p {
    margin: 0;
}

.htmlview #footnotes div {
    margin: 1.5em 0 0 0;
}

.htmlview #footnotes p {
    margin-left: 2.5em;
    font-size: 0.875em;
}

.htmlview blockquote {
    font-size: 0.875em;
}

/* ============= */
/* = Numbering = */
/* ============= */
.htmlview .anchor {
    position: relative;
    margin: 0em;
    left: -2.2em;
    color: #777;
    font-size: 12px;
    width: 2em;
    text-align: center;
    padding: 0.25em 0.7em;
    line-height: 1.5em;
}

.htmlview .anchor:hover, .htmlview .anchor:active {
    color: #FFF;
    background-color: #CCC;
}

/* =================== */
/* = Custom elements = */
/* =================== */
.htmlview .autor_utwor {
    font-size: 0.5em;
    display: block;
    line-height: 1.5em;
    margin-bottom: 0.25em;
}

.htmlview .dzielo_nadrzedne {
    font-size: 1.5em;
    display: block;
    line-height: 1.5em;
    margin-bottom: -0.25em;
}

.htmlview .podtytul {
    font-size: 0.5em;
    display: block;
    line-height: 1.5em;
    margin-top: -0.25em;
}

.htmlview .didaskalia {
    font-style: italic;
    margin: 0.5em 0 0 1.5em;
}

.htmlview .kwestia {
    margin: 0.5em 0 0;
}

.htmlview .strofa {
    margin: 1.5em 0 0 auto;    
}

.htmlview .kwestia .strofa {
    margin: 0;
}

.htmlview .akap, .htmlview .akap_cd, .htmlview .akap_dialog {
    text-align: justify;
    margin: 1.5em 0 0;
}

.htmlview p.motto {
    text-align: justify;
    font-style: italic;
    margin: 1.5em 0 0;
}

.htmlview p.motto_podpis {
    font-size: 0.875em;
    text-align: right;
}

.htmlview div.fragment {
    border-bottom: 0.1em solid #999;
    padding-bottom: 1.5em;
}

.htmlview div.nota p,
.htmlview div.dedykacja p {
    text-align: right;
    font-style: italic;
}

.htmlview br.sekcja_swiatlo {
    height: 3em;
    /* visibility: hidden; */
}

.htmlview hr.separator_linia {
    margin: 1.5em 0;
    border: none;
    border-bottom: 0.1em solid #000;
}

.htmlview p.sekcja_asterysk {
    padding: 0;
    margin: 1.5em 0;
    text-align: center;
}

.htmlview div.lista_osob ol {
    list-style: none;
    padding: 0 0 0 1.5em;
}

.htmlview p.miejsce_czas {
    font-style: italic;
}

.htmlview .mat,
.htmlview .slowo_obce,
.htmlview .tytul_dziela,
.htmlview .didaskalia {
    font-style: italic;
}

.htmlview .wyroznienie {
    letter-spacing: 0.1em;
}

.htmlview .osoba {
    font-style: normal;
    font-variant: small-caps;
}

.htmlview .parse-warning {
    display: block;
    font-size: 10pt;
    background: #C0C0C0;
    margin: 1em;
}

 .parse-warning .message {
    color: purple;
    font-weight: bold;
}


/* Motywy */
/* ======================== */
/* = Footnotes and themes = */
/* ======================== */

.htmlview .begin, .htmlview .end {
    background: green;
}

.htmlview .motyw {
    /* position: absolute; */
    
    float: right;
    left: auto;
    clear: right;
    
    width: 10em;
    
    font-weight: normal;
    font-size: 10pt;
    font-variant: normal;
    text-decoration: none;


    background-color: #fff;
    
/*    border: 1px solid gray;

    border-right: none;
*/    
    z-index: 1;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    user-select: none;
    margin-right: -12em;
    text-align: left;
}

.htmlview .motyw[x-editable] {
    border-left: 4px solid #DDD;
    padding: 0.2em 0.2em 0.2em 0.5em;
    margin-top: 0.2em;

}

/* 
 * Przypisy
 */

/* Znaczniki w tekście */
.htmlview .annotation {    
    vertical-align: super;
    text-decoration: none;
/*    font-size: 10px;    */
}

.htmlview .annotation:before {
    content: "[" counter(main) "]";
    counter-increment: main;
}

.htmlview .annotation:hover {
    background-color: #dfdfdf;
}

*.htmlview *.annotation-inline-box {
    position: static;
}

/*
 * Przypisy w tekście
 */
 .htmlview .annotation-inline-box > span[x-annotation-box]
 {
     display: none;
     position: absolute;

     max-width: 36em;
     
     font-size: 8pt;
     line-height: 12pt;
     font-weight: normal;
     font-style: normal;

     background: white;
     border-color: gray;
     border-width: 2px;
     border-style: outset;
     padding: 3px 5px;

     text-decoration: none;
     z-index: 1000;
 }
 

/*
 * Przypisy na końcu utworu (aktualnie nieuzywane)
 */
.htmlview .annotations-block {
    counter-reset: secondary;
}

.htmlview .annotations-block .annotation-body {
    position: relative;
    padding-left: 2.5em;
    padding-top: 0.2em;
}

.htmlview .annotations-block .annotation-backref {
    position: absolute;
    top: 0.4em;
    left: -0.4em;
    width: 2.5em;
    text-align: right;

}

.htmlview .annotations-block .annotation-backref:before {
    content: "[" counter(secondary) "]";
    counter-increment: secondary;
}

/*
 * EDITABLE ELEMENTS
 */

.htmlview *[x-editable] {    
    position: relative;
    padding: 2px;
    margin-left: 0;
    border: 1px solid #FFF;
}

/* focused editable element */
.htmlview *[x-editable]:hover
{
    z-index: 900;
} 

.htmlview *[x-editable][x-open]
{
    visibility: hidden;
}

.edit-button {
    position: absolute;
    top: -21px;
    left: -1px;
    width: 50px;
    height: 21px;
    
    display: block;
/*    margin: 4px 0 2px 0;*/
    padding: 5px 5px 2px 5px;
    border: none;
    background-color: #FAFAFA;
    
/*    z-index: 3000;*/
/*    color: #FFF;
    z-index: 1500;
*/    border: 1px solid #DDD;
    border-bottom: none;
}


.edit-button:hover, .edit-button:active {
/*    color: #FFF;*/
    background-color: #999;
    color: #FFF;
}

/*
 * VISIBILITY RULES
 */
.default-menu {
    visibility: inherit;
    opacity: 0.2;
}

.default-menu:hover {
    opacity: 1;
    z-index: 5000;
}

.htmlview *[x-annotation-box] > .default-menu {
    opacity: 1;
}

.htmlview *[x-editable][x-open] > .default-menu {
    visibility: hidden;
}
.htmlview *[x-editable][x-open] *[x-annotation-box] > .default-menu {
    visibility: hidden;
}

.htmlview *[x-editable] > .edit-menu {
    visibility: hidden;
}
.htmlview *[x-editable] *[x-annotation-box] > .edit-menu {
    visibility: hidden;
}

.htmlview *[x-editable][x-open] > .edit-menu {
    visibility: visible;
}
.htmlview *[x-editable][x-open] *[x-annotation-box] > .edit-menu {
    visibility: visible;
}

.html-editarea {
    border: 0px;
    background-color: gray;
    padding: 1px;

    z-index: 2000;
    position: absolute;
}

.html-editarea textarea
{
/*    border: 2px solid black;*/
    
    margin: 0px;
    padding: 0px;

    width: 100%;
    height: 100%;

    z-index: 0;
    font-size: 10pt;
    position: relative;
/*    background-color: ivory;*/
}

/*/
/*
/* Theme edit dialog
/*
/*/
/*#theme-edit-dialog {    
    left: 5%;
    right: 5%;
    top: 5%;
    bottom: 5%;
    padding: 0em;
}

#theme-edit-dialog *.data-area {
    position: absolute;

    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 32px;

    padding: 0px;
    background-color: #fafafa;

    overflow-y: scroll;
}

#theme-edit-dialog *.action-area {
    position: absolute;
    height: 30px;
    line-height: 20px;

    left: 5px;
    right: 5px;
    bottom: 0px;

    padding: 0px;
    margin: 0px;
    
    border-top: 1px solid black;
    background-color: #fafafa;
}

#theme-edit-dialog *.action-area * {
    vertical-align: baseline;
}

#theme-edit-dialog .theme-multi-list {
    padding: 0.5em 1em;
}

#theme-edit-dialog .theme-multi-list .unknown-themes {
    display: none;
}

#theme-edit-dialog .theme-multi-list .letter-heading {
    font-size: 150%;
    text-align: left;
    border-bottom: 1px solid black;
    padding-top: 1em;
}

#theme-edit-dialog .theme-mutli-list input:checked + label {
    font-weight: bold;
}*/

.out-of-flow-text {
    border: 1px solid #C8B849;
    background-color: #D4CB9C;
    white-space: pre;
    overflow: auto;
    margin: 1.5em 0 0;
    font-family: monospace;
    font-size: 10pt;
}