table.request-report 
{
    border: 2px groove black;
    font-size: 12pt;

    margin-top: 3em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
}

.pull-request {
    padding: 20px 20px 10px 20px;
    border-bottom: 1px dotted #CCC;
}

.pull-request h2 {
    padding: 0;
    margin: 0;
    font-size: 22px;
}

.pull-request .request-info {
    color: #999;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pull-request .request-info li {
    float: left;
    padding-right: 20px;
}

.pull-request p.comment {
    clear: left;
    padding: 20px 0;
}

.pull-request p {
    margin: 0;
    padding: 0;
}

.awesome.button {
    margin-right: 10px;
}

.request-report .status-N {
    background-color: teal;
}

.request-report .status-R {
    background-color: red;
}

.request-report .status-A {
    background-color: gray;
}

.pull-request .diff {
    white-space: pre;
}
