body {
    margin: 0;
    overflow: hidden;
    padding: 0;
    min-width: 960px;
    width: 100%;
    height: 100%;
}

.vsplitbar {
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 0;;
    width: 13px;
    background: #C1C1C1 url(../img/gallery.png) no-repeat scroll center center;
	text-
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    cursor: pointer;	
}

.vsplitbar:hover {
	background-color: #e6e6fa;
}

.vsplitbar.active {
	background-
    
}

#source-editor, #simple-editor, #history-viewer {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 15px;
    overflow: hidden;
}

#html-view, #history-view {
    overflow: auto;
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
	z-index: 1;
}

#sidebar {
    position: absolute;
    overflow: hidden;
    top: 0px;
    right: 0;
    bottom: 0;
    width: 0;
    display: none;
    background-color: #FFF;
}


#splitter {
	position: fixed;
	top: 31px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
}


#header {
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	height: 30px;
	border-bottom: 1px solid #999;
	
    margin: 0;
    padding: 0;
    background-color: #C1C1C1;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#C1C1C1), color-stop(0.9, #A2A2A2));
	
	/* Firefox 3.6 */
	background-image: -moz-linear-gradient(top left, #C1C1C1, #A2A2A2, 90%);
	
    font: 11px Helvetica, Verdana, sans-serif;
    font-weight: bold;
}

#header h1, #header h1 a {
    margin: 0;
    padding: 0;
    font: 17px Helvetica, Verdana, sans-serif;
    font-weight: bold;
    float: left;
    padding: 3px 6px 2px 6px;
    color: #222;
    line-height: 20px;
}

#header h1 a {
    text-decoration: none;
    color: #222;
}

#tabs {
	overflow: hidden;
    margin: 0;
	height: 30px;    
	padding-left: 1em;	
}

#tabs li {
	height: 24px;
	margin-top: 6px;	
	
    -webkit-user-select: none;	
    cursor: pointer;
    display: block;
    float: left;
	
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 5px;
	
    font-weight: bold;
    color: #222;
    margin-left: 4px;    
	
    background-color: #A2A2A2;
	
	-moz-box-shadow: 1px -1px 2px rgba(127, 127, 127, 0.25);
    -webkit-box-shadow: 1px -1px 2px rgba(127, 127, 127, 0.25);

    border: 1px solid #999;	
	-moz-border-radius: 4px 4px 0px 0px;
	-webkit-border-radius: 4px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
}

#tabs li.active {
    background-color: #C1C1C1;    
}

#tools {
	float: right;
	clear: right;
	overflow: hidden;
    margin: 0;
	padding: 0;
	height: 30px;  
	margin-right: 5px;
	line-height: 30px;
	font-size: 10px;
	vertical-align: middle;
}


/*
 * Toolbars
 */

.toolbar {
    width: 100%;
    border-bottom: 1px solid #777;
    background-color: #C1C1C1;
    margin: 0;
    padding: 2px;
    z-index: 100;
/*    height: 22px;*/
}

.toolbar button {
    display: block;
    float: left;
    margin: 4px 0 2px 0;
    padding: 2px 5px;
    border: none;
    background: none;
}

.toolbar button img {
	margin: 0;
	padding: 0;	
	margin-bottom: -3px;
}


.toolbar select {
    float: left;
    margin: 1px 5px 1px 0;
    background: none;
    border: 1px solid #999;
    padding: 1px;
}

.toolbar input {
    float: left;
    font-size: 11px;
    padding: 0;
    margin: 4px 5px 0px 5px;
	vertical-align:baseline;
}

.toolbar-end {
    clear: both;
}

.toolbar button:hover, .toolbar button:active {
    background: #777;
    color: #FFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

/* Remove extra padding in Firefox */
button::-moz-focus-inner { 
    border: 0;
    padding: 0;
}

p { margin: 0;}

/* =========== */
/* = Gallery = */
/* =========== */
.change-gallery-panel {
    width: 100%;
    border-bottom: 1px solid #777;
    background-color: #C1C1C1;
    margin: 0;
    padding: 2px;
    z-index: 10;
}

.gallery-image {
    position: absolute;
    top: 30px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    border: none;
    background-color: #000;
    overflow: hidden;
}

.gallery-image img {
    position: absolute;
    -moz-drag: none;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    cursor: pointer;
}


#body-wrap {
    height: 100%;
    width: 100%;
}
#content {
    height: 100%;
    width: 100%;
}

#loading-overlay {
    background-color: #FFF;
    position: absolute;
    z-index: 1000;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#loading-message {
    position: absolute;
    height: 20px;
    width: 120px;
    left: 50%;
    margin-left: -60px;
    top: 50%;
    margin-top: -10px;
/*    text-align: center;*/
}

#loading-message img {
    float: left;
    margin-right: 10px;
    margin-top: -6px;
}




/*
 * CodeMirror 
 */

.CodeMirror-line-numbers {
	padding: 0px;
	padding-top: 5px;		
	text-align: right;
	overflow: hidden;
	width: 40px;
	border-right: 1px solid black;
	background-color: #e6e6fa;
}

.CodeMirror-line-numbers div {
	display: block;  
	font-family:"Lucida Console", monospace;
    font-size: 13px;
    line-height: 18px;
	padding-right: 5px;
}
 
/* DIFFS */
 #history-view table {
 	width: 75%;
	margin: 1em auto;
	max-height: 400px;
	overflow-y: auto;
 }
 
 #diff-view {
 	border: 2px solid black;
	background: #fafafa;
	margin: 1em auto;
	width: 90%; 	
 }
 
 td.diff_header {
 	display: none;
 }
 
 td.diff_next {
 	display: none;
 }

 .diff_sub {
 	background-color: #ef4040;
 }
 
 .diff_chg {
 	background-color: #efef40;
 }
 
 .diff_add {
 	background-color: #40ef40;
 }


/*
 * HTML Editor view
 */ 
 
.htmlview {
	z-index: 1;
	overflow: hidden;
}

.htmlview *[x-editable] {
    background-color: white;
	
}
.htmlview .active[x-editable] {
    background-color: #FAFAFA;
    border: 1px solid #DDD;
/*    -webkit-transition: all 1s linear;*/
}