body {
    margin: 0;
    overflow: hidden;
    padding: 0;
    min-width: 960px;
    width: 100%;
    height: 100%;
}

.vsplitbar {
    position: absolute;
    top: 25px;
    bottom: 0;
    right: 0;;
    width: 13px;
    background: #C1C1C1 url(/static/img/gallery.png) no-repeat scroll center center;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    cursor: w-resize;
}

.vsplitbar.active {
    cursor: e-resize;
}

#source-editor, #simple-editor {
    position: absolute;
    top: 25px;
    bottom: 0;
    left: 0;
    right: 15px;
    overflow: hidden;
}

#html-view {
    overflow: auto;
    position: absolute;
    top: 27px;
    bottom: 0;
    left: 0;
    right: 0;
}

#sidebar {
    position: absolute;
    overflow: hidden;
    top: 25px;
    right: 0;
    bottom: 0;
    width: 0;
    display: none;
    background-color: #FFF;
}

#header {
    margin: 0;
    padding: 0;
    background-color: #C1C1C1;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#C1C1C1), color-stop(0.9, #A2A2A2));
    font: 11px Helvetica, Verdana, sans-serif;
    font-weight: bold;
}

#header h1 {
    margin: 0;
    padding: 0;
    font: 17px Helvetica, Verdana, sans-serif;
    font-weight: bold;
    float: left;
    padding: 3px 6px 2px 6px;
    color: #222;
    line-height: 20px;
}

#tabs {
    margin: 0;
    padding: 0;
    
    width: 100%;
    height: 22px;
    padding-top: 2px;
    border-bottom: 1px solid #999;
}

#tabs li {
    -webkit-user-select: none;
    cursor: default;
    display: block;
    float: left;
    padding: 5px 12px 3px 12px;
    border: 1px solid #999;
    -webkit-border-radius: 4px;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    font-weight: bold;
    color: #222;
    height: 13px;
    -webkit-box-shadow: 1px -1px 2px rgba(127, 127, 127, 0.25);
    margin-left: 4px;
    margin-bottom: -1px;
    background-color: #A2A2A2;
}

#tabs li.active {
    background-color: #C1C1C1;
    border-bottom: 1px solid #C1C1C1;
}

.toolbar {
    width: 100%;
    border-bottom: 1px solid #777;
    background-color: #C1C1C1;
    margin: 0;
    padding: 2px;
    z-index: 10;
/*    height: 22px;*/
}

.toolbar button {
    display: block;
    float: left;
    margin: 4px 0 2px 0;
    padding: 0 5px 2px 5px;
    border: none;
    background: none;
}

.toolbar select {
    float: left;
    margin: 1px 5px 1px 0;
    background: none;
    border: 1px solid #999;
    padding: 1px;
}

.toolbar input {
    float: left;
    font-size: 11px;
    padding: 0;
    margin: 2px 5px 0 5px;
}

.toolbar-end {
    clear: both;
}

.toolbar button:hover, .toolbar button:active {
    background: #777;
    color: #FFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/* Remove extra padding in Firefox */
button::-moz-focus-inner { 
    border: 0;
    padding: 0;
}

p { margin: 0;}

.htmlview *[x-editable] {
    background-color: white;
}

.htmlview .active[x-editable] {
    background-color: #FAFAFA;
    border: 1px solid #DDD;
/*    -webkit-transition: all 1s linear;*/
}


/* =========== */
/* = Gallery = */
/* =========== */
.change-gallery-panel {
    width: 100%;
    border-bottom: 1px solid #777;
    background-color: #C1C1C1;
    margin: 0;
    padding: 2px;
    z-index: 10;
}

.gallery-image {
    position: absolute;
    top: 27px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    border: none;
    background-color: #000;
    overflow: hidden;
}

.gallery-image img {
    position: absolute;
    -moz-drag: none;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    cursor: pointer;
}


#body-wrap {
    height: 100%;
    width: 100%;
}
#content {
    height: 100%;
    width: 100%;
}

#loading-overlay {
    background-color: #FFF;
    position: absolute;
    z-index: 1000;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#loading-message {
    position: absolute;
    height: 20px;
    width: 120px;
    left: 50%;
    margin-left: -60px;
    top: 50%;
    margin-top: -10px;
/*    text-align: center;*/
}

#loading-message img {
    float: left;
    margin-right: 10px;
    margin-top: -6px;
}