body {
    margin: 0;    

    font: 12px Helvetica, Verdana, sans-serif;
    overflow: hidden;
    background: #AAA;
}

/*  fix icon buttons */

button img {
    vertical-align: middle;
    margin: 0px;
}

/* default form style hacks */
select {
    border: none;
    margin-left: 0.1em;f
}

#body-wrap {
    margin: 0px;
    padding: 0px;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
}

#header { 
    position: absolute;
    padding: 2px 0.5em;
    background-color: #CDCDCD; /* !unused */
    border-bottom: 2px solid black;

    font-size: 14px;

    line-height: 26px;
    vertical-align: middle;

    /* height: 30px; */
    top: 0px; left: 0px; right: 0px; 
    z-index: 300;
}

#content {
    position: absolute;
    top: 32px; left: 0px; right: 0px; bottom: 0px;
    overflow: auto;
    background-color: white;
}

#header #breadcrumbs {
}

#header-right-toolbar {
    position: absolute;
    right: 1em;
}

#header button {
    vertical-align: middle;
}

/* Commit dialog */
#commit-dialog-error-empty-message {
    color: red;
    display: none;
    font-weight: bold;
}

text#commit-dialog-message {
    width: 80%;
    margin: auto;
}

#split-dialog .container-box form {
    margin: 0.2em 1em;
}

#split-dialog .container-box fieldset {
    margin: 0.5em;
}




/* ======= */
/* = New = */
/* ======= */
#splitview {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.splitview-splitbar {
    width: 5px;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    height: 100%;
    background-color: #CCC;
    z-index: 5100;
}

.splitview-overlay {
    z-index: 5000;
    background: #FFF;
    opacity: 0.5;
}

.panel-container {
    height: 100%;
    position: relative;
}

.content-view {
    position: absolute;
    top: 25px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.panel-main-toolbar {
    z-index: 1100;    
    position: absolute;

    top: 0px;
    right: 0px;
    left: 0px;
    height: 24px;

    border-bottom: 1px solid black;
    background: gray;

    padding: 0px;
}

.panel-main-toolbar p {
    margin: 0px;
    padding: 2px;
    line-height: 20px;
    font-size: 13px;    
}

.xmlview {
    height: 100%;
}

.view-overlay {
    z-index: 1000;
    background: #FFF;
    opacity: 0.8;
    text-align: center;
    vertical-align: middle;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    user-select: 'none';
    -webkit-user-select: 'none';
    -khtml-user-select: 'none';
    -moz-user-select: 'none';
    overflow: 'hidden';    
}

.view-overlay div {
    position: absolute;
}

/* .buttontoolbarview {
    display: block;
    background-color: #CCC;
}

.buttontoolbarview a {
    color: #000;
    text-decoration: none;
} */ /* Similar classes already exist in toolbar.css */


/* ================= */
/* = Gallery panel = */
/* ================= */
.image-gallery-view-template {
    position: absolute;
    top: 0px; left: 0px; right: 0px; bottom: 0px;
    overflow: hidden;
}

.image-gallery-header {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 30px;

    background: gray;
    border-top: 1px solid #780000;
    z-index: 100;
}

input.image-gallery-current-page {
    text-align: center;
}

.image-gallery-header p {
    margin: 0px;
    padding: 3px 1em;
    height: 30px;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
}

.image-gallery-page-list {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 31px;
    background: black;
    z-index: 0;

    overflow: hidden;
}

.image-gallery-page-container {
    display: none;
    border: none;

    position: absolute;
    top: 0px; left: 0px;

    text-align: center;
    padding: 0px;
}

.htmlview {
    position: absolute;
    top: 25px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    margin: 0;
}

.image-gallery-page-container img {
    /* border: 2px solid green; */
    margin: 0px;
}

body#base button {
    background-color: #DDD;
    border-width: 1px;
    padding: 0px 0.5em;    
    font-family: Sans-Serif;
    /* color: #000; */
    margin: 2px 4px;
}

body#base button:hover {
    background-color: #EEE;
}



/* ================= */
/* = Message boxes = */
/* ================= */
.info {
    background-color: gray;
}

.success {
    background-color: green;
}

.error {
    background-color: yellow;
}

.critical {
    background-color: red;
}

