#summary-view-editor {
	background: white;
}

#summary-view {
	padding: 1em;			
}

#summary-view .book-cover {
	float: left;
	margin: 1em;
	min-height: 300px;
	min-width: 240px;
	
	max-height: 300px;	
	max-width: 240px;
}

#summary-view p {
	margin: 0.5em; 
}

#summary-view label {
	font-weight: bold; 
}  
