<!DOCTYPE html>
{% load pipeline i18n %}
{% load static %}
{% load catalogue %}
<!DOCTYPE html>
<html>
<head lang="{{ LANGUAGE_CODE }}">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="icon" href="{{ STATIC_URL }}img/pr-icon.png" type="image/png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% stylesheet 'catalogue' %}
    <title>{% block title %}{% block titleextra %}{% endblock %} ::
        {% trans "Platforma Redakcyjna" %}{% endblock title %}</title>
    {% block add_css %}{% endblock %}
</head>
<body>
<!--#include file='/pozor.html'-->


<nav class="navbar navbar-expand-lg bg-light ">
  <a class="navbar-brand" href="{% url 'catalogue_document_list' %}">
	  <img src="{% static "img/wl-orange.png" %}" alt="Platforma">
  </a>
  <ul class="nav nav-pills mr-auto">
        {% main_tabs %}
    </ul>

    <ul class="nav nav-pills">
        {% include "catalogue/head_login.html" %}
    </ul>

</nav>

<div class="container">

{% block content %}
<div class="row">
<div class="col-lg-8">
	{% block leftcolumn %}
	{% endblock leftcolumn %}
</div>
<div class="col-lg-4">
	{% block rightcolumn %}
	{% endblock rightcolumn %}
</div>
</div>
{% endblock content %}



<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
{% javascript 'catalogue' %}
{% block add_js %}{% endblock %}
{% block extrabody %}
{% endblock %}
</body>
</html>
