{% extends "catalogue/base.html" %}

{% load i18n %}
{% load username from common_tags %}


{% block titleextra %}{% trans "Users" %}{% endblock %}


{% block content %}
<div class="card">
	<div class="card-header">

<h1>{% trans "Users" %}</h1>
	</div>
<div class="card-body">

<ul>
{% for user in users %}
    <li><a href="{% url 'catalogue_user' user.username %}">
        <span class="chunkno">{{ forloop.counter }}.</span>
        {{ user|username }}</a>
        ({{ user.count }})</li>
{% endfor %}
</ul>

</div>
</div>

{% endblock content %}
