localsettings.py
*.sqlite
requirements.pybundle
*~
*.orig
/redakcja/media
/static
.sass-cache
var

# Python garbage
*.pyc
.coverage
.coveragerc
coverage.xml
nosetests.xml
pip-log.txt

# Mac OS X garbage
.DS_Store

# Windows garbage
thumbs.db

# Netbeans garbage
nbproject
nbproject/*

# Eclipse
.project
.pydevproject
.settings

# PyCharm
.idea

node_modules

/static_test
chromedriver.log

deployment/environments.py
apps/wiki/static/wiki/build
