localsettings.py
dev.sqlite
requirements.pybundle
*~

# Python garbage
*.pyc
.coverage
coverage.xml
nosetests.xml
pip-log.txt

# Mac OS X garbage
.DS_Store

# Windows garbage
thumbs.db

# Netbeans garbage
nbproject
nbproject/*

# Eclipse
.project
.pydevproject
.settings
platforma/static/compressed
platforma/static/compressed/*
