localsettings.py
dev.sqlite
requirements.pybundle
*~
*.orig
/redakcja/media
/static
.sass-cache

# Python garbage
*.pyc
.coverage
.coveragerc
coverage.xml
nosetests.xml
pip-log.txt

# Mac OS X garbage
.DS_Store

# Windows garbage
thumbs.db

# Netbeans garbage
nbproject
nbproject/*

# Eclipse
.project
.pydevproject
.settings

node_modules