-i https://py.mdrn.pl:8443/simple

## Python libraries
lxml>=2.2.2
Mercurial>=3.3,<3.4
PyYAML>=3.0
Pillow>=3.1.1
oauth2
httplib2 # oauth2 dependency

## Book conversion library
# git+git://github.com/fnp/librarian.git@master#egg=librarian

## Django
Django>=1.10,<1.11
fnpdjango>=0.2,<0.3
django-pipeline>=1.6,<1.7
sorl-thumbnail>=12.3,<13
#django-maintenancemode>=0.9
fnp-django-pagination
django-gravatar2
python-slugify
django-forms-bootstrap
jsonfield
django-email-extras
django-modeltranslation>=0.12,<0.13
django-constance[database]

celery>=3.1.12,<3.2
kombu>3.0,<3.1

Embeder

future
