# 
#  localsettings template for Platforma
#
#  Duplicate this file as localsettings.py and change it to your liking.
#  Settings defined in localsettings.py will override settings from 
#  settings.py file. localsettings.py should never be commited 
#  to a version control system. Please make changes to settings.py 
#  or localsettings.sample instead.
#

# THIS IS REQUIRED
from redakcja.settings import *

# Path to repository with managed documents
CATALOGUE_REPO_PATH = '/srv/redakcja/books'

LOGGING_CONFIG_FILE = "/srv/redakcja/logging.cfg.dev"

STATIC_ROOT = '/srv/redakcja/static/'
MEDIA_ROOT = '/srv/redakcja/media/'

# Subdirectory of MEDIA_ROOT containing images
IMAGE_DIR = 'images/'

CAS_SERVER_URL = 'http://logowanie.nowoczesnapolska.org.pl/cas/'
CAS_VERSION = '3'

REDMINE_URL = 'http://redmine.nowoczesnapolska.org.pl/'
DEBUG = True
MAINTENANCE_MODE = False
COMPRESS = False

APICLIENT_WL_CONSUMER_KEY = None
APICLIENT_WL_CONSUMER_SECRET = None

SECRET_KEY = ''
