{% load toolbar_tags %}
<div class="toolbar" xmlns:ui="http://nowoczesnapolska.org.pl/platforma/ui">
    <select name="button_group" id="toolbar-button-group-select" size="1">
        {% for group in toolbar_groups %}
        <option value="{{ group.slug }}" {% if forloop.first %}selected="selected"{% endif %}>{{ group.name }}</option>
        {% endfor %}
    </select>

    <div class="toolbar-button-groups-container">
        {% for group in toolbar_groups %}
        <div data-group="{{group.slug}}" class="toolbar-buttons-container">
            {# buttons for this group #}
            {% for button in group.button_set.all %}
            {% toolbar_button button %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div class="toolbar-end"></div>
</div>
