{% extends "base.html" %}
{% load i18n %}

{% block extrahead %}
	<link rel="stylesheet" href="{{STATIC_URL}}css/jquery.modal.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{{STATIC_URL}}css/html.css" type="text/css" charset="utf-8">
      	<link rel="stylesheet" href="{{STATIC_URL}}css/toolbar.css" type="text/css" charset="utf-8">
        <link rel="stylesheet" href="{{STATIC_URL}}css/autumn.css" type="text/css" media="screen" title="Autumn colors" charset="utf-8">
	
	<script type="text/javascript" charset="utf-8">
            var documentInfo = {
                docID: '{{ fileid }}',
                userID: '{{ euser }}',
                docURL: '{% url document_view fileid %}{% if euser %}?user={{ euser|urlencode }}{% endif %}',
                toolbarURL: '{% url toolbar_buttons %}',
                renderURL: '{% url api.views.render %}',
				staticURL: '{{ STATIC_URL }}'
            }		
                
	</script>
	
	{# Libraries #}
        <script src="{{STATIC_URL}}js/lib/codemirror/codemirror.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{STATIC_URL}}js/lib/jquery.modal.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{STATIC_URL}}js/lib/jquery.json.js" type="text/javascript" charset="utf-8"></script>
        
	{# Scriptlets #}
	<script src="{{STATIC_URL}}js/button_scripts.js" type="text/javascript" charset="utf-8"></script>
	
	{# App and views #}
	<script src="{{STATIC_URL}}js/app.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{STATIC_URL}}js/messages.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{STATIC_URL}}js/views/view.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{STATIC_URL}}js/views/flash.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{STATIC_URL}}js/views/editor.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{STATIC_URL}}js/views/button_toolbar.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{STATIC_URL}}js/views/split.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{STATIC_URL}}js/views/xml.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{STATIC_URL}}js/views/html.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{STATIC_URL}}js/views/gallery.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{STATIC_URL}}js/views/panel_container.js" type="text/javascript" charset="utf-8"></script>
	
	<script src="{{STATIC_URL}}js/models.js" type="text/javascript" charset="utf-8"></script>
	
	{# JavaScript templates #}
	<script type="text/html" charset="utf-8" id="panel-container-view-template">
		<div class="panel-main-toolbar">
                <p><select>
                        <option value="empty" selected="selected"> ---- </option>
			<% for (panel in panels) { %>
			<option value="<%= panel %>"><%= panel %></option>
			<% }; %>
		</select> <button class="refresh">{% trans "Refresh panel"  %}</button></p>
                </div>
		<div class="content-view"></div>
	</script>
	
	<script type="text/html" charset="utf-8" id="xml-view-template">
		<div class="xmlview-toolbar"></div>
		<div class="xmlview">
			
		</div>
	</script>
	
	<script type="text/html" charset="utf-8" id="html-view-template">
                <div class="htmlview-toolbar">
                    <a class="html-print-link" href="print" ui:baseref="{% url file_print fileid %}" target="_new">{% trans "Print version"  %}</a>
                </div>
                
		<div class="htmlview">
		</div>
	</script>	
        
        <script type="text/html" charset="utf-8" id="html-view-frag-menu-template">
            <span class="default-menu context-menu">
                <span class="edit-button">Edytuj</span>                
            </span>
            <span class="edit-menu context-menu">
                <span class="accept-button">OK</span>
                <span class="reject-button">Anuluj</span>
            </span>
        </script>



	<script type="text/html" charset="utf-8" id="flash-view-template">
		<div class="flashview">
		<% if (shownMessage) { %>
			<p style="margin: 0; padding: 0.2em 0.5em; line-height: 1.8em" class="<%= shownMessage.type %>"><%= shownMessage.text %></p>
		<% } %>
		</div>
	</script>
	
    <script type="text/html" charset="utf-8" id="image-gallery-view-template">
	<div class="image-gallery-view-template">

        <div class="image-gallery-header">
        <p>
        <button type="button" class="image-gallery-prev-button">
        <img alt="PPrevious" src="{{STATIC_URL}}/icons/go-previous.png" width="16" height="16" />
        </button>

        <input type="input" class="image-gallery-current-page"
            size="5" value="<%= (currentPage + 1) %>" />


        <button type="button" class="image-gallery-next-button">
        <img alt="{% trans 'Next page'  %}" src="{{STATIC_URL}}/icons/go-next.png" width="16" height="16" />
        </button>

        <button type="button" class="image-gallery-zoom-in">
            <img alt="{% trans 'Zoom in'  %}" src="{{STATIC_URL}}/icons/zoom_in.png" width="16" height="16" />
        </button>
        <button type="button" class="image-gallery-zoom-out">
            <img alt="{% trans 'Zoom out'  %}" src="{{STATIC_URL}}/icons/zoom_out.png" width="16" height="16" />
        </button>
        <button type="button" class="image-gallery-zoom-reset">
            <img alt="{% trans 'Reset zoom'  %}" src="{{STATIC_URL}}/icons/zoom.png" width="16" height="16" />
        </button>
        </p>
        </div>

        <div class="image-gallery-page-list">
            <% for(var i=0; i < model.data.length; i++) { %>
                <div class="image-gallery-page-container"
                    ui:model="<%= model.data[i] %>"
                    ui:width="480"
                    ui:height="752"
                ></div>
            <% }; %>
	</div>
        
        </div>
	</script>
	
	<script type="text/html" charset="utf-8" id="image-gallery-empty-template">
	    <div class="image-gallery-empty-template">
            <div class="empty-gallery-info">Galeria dla tego dokumentu nie istnieje i/lub jest pusta.</div>
            
            {% if user.is_superuser %}
            <div class="choose-gallery">
                <p>Dołącz galerię do dokumentu:</p>
                <p>{{ gallery_form.subpath }} <input id="choose-gallery" type="submit" value="Dołącz"></p>
            </div>
            {% endif %}
        </div>
	</script>
	
	<script type="text/html" charset="utf-8" id="button-toolbar-view-template">
		<div class="buttontoolbarview panel-toolbar">
			<div class="buttontoolbarview-tabs toolbar-tabs-container toolbar-buttons-container">
			<% for (var i=0; i < buttons.length; i++) { %>
				<button type="button" class="buttontoolbarview-tab" ui:groupindex="<%= i %>"><%= buttons[i].name %></button>
			<% }; %>
			</div>
			<div class="buttontoolbarview-groups ">
			<% for (var i=0; i < buttons.length; i++) { %>
				<div class="buttontoolbarview-group toolbar-buttons-container" ui:groupIndex="<%= i %>" style="display: none">
					<% for (var j=0; j < buttons[i].buttons.length; j++) { %>
						<% if (buttons[i].buttons[j].scriptlet_id) { %>
						<button type="button" class="buttontoolbarview-button"
                                                    title="<%= buttons[i].buttons[j].tooltip %>"
                                                    hotkey="<%= buttons[i].buttons[j].key %>"
                                                    ui:hotkey_mod="<%= buttons[i].buttons[j].key_mod %>"
                                                    ui:groupindex="<%= i %>" ui:buttonindex="<%= j %>">
							<%= buttons[i].buttons[j].label %>
						</button>
						<% } %>
					<% } %>
				</div>
			<% }; %>
			</div>
		</div>
	</script>
{% endblock extrahead %}

{% block breadcrumbs %}<a href="{% url file_list %}">Platforma</a> &gt; {{euser}} &gt; {{ fileid }}{% endblock breadcrumbs %}

{% block header-toolbar %}
    <a href="http://stigma.nowoczesnapolska.org.pl/platforma-hg/ksiazki/log/tip/{{ fileid }}.xml" target="_new" >{% trans 'History'  %}</a>
	<button id="action-merge">{% trans 'Push' %}</button>
        <button id="action-update">{% trans 'Pull' %}</button>
        <button id="action-commit">{% trans 'Save' %}</button>
        <button id="action-quick-save">{% trans 'Quick save' %}</button>
{% endblock %}

{% block maincontent %}    
    

    <div id="splitview">
        <div id="left-panel-container" class='panel-container'></div>
	<div id="right-panel-container" class='panel-container'></div>
    </div>

    <div id="commit-dialog" class="jqmWindow" style="display:none">
        <form action="" method="POST">
            <label for="message">Commit message:</label>
            <textarea cols="60" rows="10" name="message" id="commit-dialog-message"></textarea>
            <p id="commit-dialog-error-empty-message">Wiadomość nie może być pusta.</p>                
            <fieldset id="commit-dialog-related-issues" ui:ajax-src="{{REDMINE_URL}}/publications/issues/{{fileid}}">
                <legend>Related issues</legend>
                <div class="loading-box" style="display: none;">
                    <p>Loading related issues...</p>
                </div>
                <div class="container-box">No related issues.</div>
            </fieldset>
            <p>
               <input type="button" value="Save" id="commit-dialog-save-button" />
               <input type="reset" value="Cancel" id="commit-dialog-cancel-button" />
            </p>
        </form>
    </div>
    
    <div id="split-dialog" class="jqmWindow" style="display:none">
        <div class="container-box"> </div>
        <div class="loading-box" style="display: none;">
            <p>Loading dialog contents...</p>
            <!-- <p><button type="button" class="dialog-close-button">Close</button></p> -->
        </div>
        <div class="fatal-error-box" style="display: none;">
            <p>Server error, while loading dialog :(</p>
            <p><button type="button" class="dialog-close-button">Close</button></p>
        </div>
    </div>
{% endblock maincontent %}

{% block extrabody %}
	<div style="position: absolute; left: 35%; right: 35%; top: 0; height: 20px; z-index: 0" id="flashview"></div>
{% endblock %}