{% extends "base.html" %}

{% block extrahead %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/filelist.css" type="text/css" />
<script src="{{ STATIC_URL }}js/slugify.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
$(function() {
	function search(event) {
        event.preventDefault();
        
        var expr = new RegExp(slugify($('#file-list-filter').val()), 'i');
    	
        $('#file-list p').hide().filter(function(index) {
            console.log(expr.test($(this).attr('title')))
            return expr.test(slugify($('a', this).html()));
        }).show();
    }
	
    $('#file-list-find-button').click(search).hide();
	$('#file-list-filter').bind('keyup change DOMAttrModified', search);
});
</script>
{% endblock extrahead %}

{% block maincontent %}
<div id="main-page-widgets">

<div class="file-list-widget">
    <form action="#" method="GET">
    <p><input autocomplete="off" name="filter" id="file-list-filter" type="text" size="60" />
        <input type="submit" value="Znajdź" id="file-list-find-button"/>
        <input type="reset" value="Wyczyść" id="file-list-reset-button"/>
    </p>
    </form> 
    <div id="file-list">
    {% for file in document_list %}
        <p><a href="/{{ file|urlencode }}">{{ file }}</a></p>
    {% endfor %}
    </div>
</div>

<div id="recent-file-list">
	<h2>Ostatnio oglądane pliki:</h2>
	<ul>
	</ul>
</div>

{% if perms.explorer.can_add_files %}
<div class="upload-file-widget">
<h2>Dodaj nowy utwór</h2>

<form action="{% url file_upload %}" method="POST" enctype="multipart/form-data">
    {{ bookform }}
    <p><button type="submit">Dodaj książkę</button></p>
</form>

</div>
{% endif %}

</div>
{% endblock maincontent %}
