{% load i18n %}
{% load gravatar %}

{% if user.is_authenticated %}
  <div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{ user.username }}">
      <img src="{% gravatar_url item.get_email 26 %}" alt="{{ user.username }}">
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
      <h6 class="dropdown-header">{{ user.username }}</h6>
      {% if user.is_staff %}
        <a target="_blank" class="dropdown-item" href="{% url 'admin:index' %}">{% trans "Admin" %}</a>
      {% endif %}
      <a class="dropdown-item" href='{% url "logout" %}{% if logout_to %}?next={{ logout_to }}{% endif %}'>{% trans "Log Out" %}</a>
    </div>
  </div>
{% else %}
  {% url "cas_ng_login" as login_url %}
  {% if login_url != request.path %}
    <a id="login" class="nav-item nav-link" href='{{ login_url }}'>{% trans "Log In" %}</a>
  {% endif %}
{% endif %}
