<div>
<p><label for="issue_source_files"><%= l(:field_publications) %>:</label>
<input type='text' id='publications' name="publications" size="50"
	value='<%= @issue.publication_names.join(', ') %>' />
</div>
