.wikidata-hint {
    background-image: url('https://www.wikidata.org/static/favicon/wikidata.ico');
    background-repeat: no-repeat;
    background-position: 5px 50%;
    background-size: 16px auto;
    padding: 5px 5px 5px 26px;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 10px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}
@media (prefers-color-scheme: dark) {
    .wikidata-hint {
        color: black;
        background-color: white;
    }
}
.wikidata-hint img {
    height: 48px;
    margin: -5px -5px -5px 5px;
}

#id_wikidata {
    transition: .2s background-position;
    background-image: url('https://www.wikidata.org/static/favicon/wikidata.ico');
    background-size: 64px 64px;
    background-repeat: no-repeat;
    background-position: -64px 50%;
}
#id_wikidata.wikidata-processing, .wikidata-hint.wikidata-processing {
    background-position: 100% 50%;
    transition: 10s background-position;
}


