<!DOCTYPE html >
{% load i18n %}
<html>
    <head lang="{{ LANGUAGE_CODE }}">
        <meta charset="utf-8" />
        <link rel="icon" href="{{ STATIC_URL }}img/pr-icon.png" type="image/png" />
        <title>{% block title %}{% block titleextra %}{% endblock titleextra %} ::
            {% trans "Platforma Redakcyjna" %}{% endblock title %}</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% block extrahead %}
        {% endblock %}
    </head>
    <body id="{% block bodyid %}base{% endblock %}">

    <div id="loading-overlay">
    	<div id="loading-message">
        	<img src="{{STATIC_URL}}img/spinner.gif" alt="Loading" />
        	<p>{% trans "Loading" %}</p>
    	</div>
    </div>

    <!-- version: {{ APP_VERSION }} -->
    {% block maincontent %} {% endblock %}
    <script
        src="https://code.jquery.com/jquery-1.9.1.min.js"
        integrity="sha256-wS9gmOZBqsqWxgIVgA8Y9WcQOa7PgSIX+rPA0VL2rbQ="
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% block extrabody %}{% endblock %}
    </body>
</html>
