<div class="panel-dceditor">
    <form action="{% url file_dc fileid %}" method="post" accept-charset="utf-8">
        {{ form.as_p }}
<!--    <p><input type="submit" value="Continue &rarr;"/></p> -->
    </form>
</div>
<script type="text/javascript" charset="utf-8">
panel_hooks = { 

	load: function() {
		var self = this;
		self.form = $('form', self.contentDiv);
		$("input[type='text'], textarea", self.form).each(function() {
			$(this).change(function(event) {
				self.contentDiv.trigger('panel:contentChanged', self);
			});
		});
                self._endload();       
	},
	saveInfo: function(saveInfo) {
		var myInfo = {
			url: "{% url file_dc fileid %}",
			postData: $('form', this.contentDiv).serialize() 
		};
		$.extend(saveInfo, myInfo);
	}
};
</script>
