<div class="panel-dceditor">
    <form action="{{ request.get_full_path }}" method="post" accept-charset="utf-8">
        {{ form }}
        <p><input type="submit" value="Continue &rarr;"/></p>
    </form>
</div>
<script type="text/javascript" charset="utf-8">
    (function() {
        var id = Math.ceil(Math.random() * 1000000000);
        
        panel(function(event, me) {
            // $(document).bind('panel:contentChanged.' + id, function(event, p) {
            //     $('.change-notification', $(me).parent()).fadeIn();
            // });
            $(me).addClass('panel-htmleditor');
        }, function(event, me) {
            $(me).removeClass('panel-htmleditor');
            // $(document).unbind('panel:contentChanged.' + id);
        });
    })()
</script>
