<div class="panel">
    <div class="images-wrap">
        <div class="images">
            <p>Aby zobaczyć obrazki wybierz folder poniżej:</p>
            <p><select name="folders" class="id_folders">
            <option value="" selected="selected">-- Wybierz folder z obrazkami --</option>
            <option value="andersen_basnie">andersen_basnie</option>
            </select></p>
        </div>
    </div>
</div>
<script type="text/javascript" charset="utf-8">

    (function() {
        function resizeEditor(event, panel) {
            var panel = panel || event.data.panel;
            $('.images-wrap', panel).height($(panel).height());
        }

        panel(function(event, panel) {
            $('.id_folders', panel).change(function() {
                $('.images', panel).load('{% url folder_image_ajax %}' + $('.id_folders', panel).val() + '/', function() {
                    $('.images-wrap', panel).data('lazyload:lastCheckedScrollTop', -10000);
                });
            });
            $('.images-wrap', panel).lazyload('.image-box', {threshold: 640 * 10, scrollTreshold: 640 * 5});
            
            $(window).bind('resize', {'panel': panel}, resizeEditor);
            resizeEditor(null, panel);  
        }, function(event, panel) {
        });
    })()
</script>
