<div class="panel">
    <div class="toolbar">
        <select name="folders" class="id_folders">
            <option value="" selected="selected">-- Wybierz folder z obrazkami --</option>
            <option value="andersen_basnie">andersen_basnie</option>
        </select>
    </div>
    <div class="images-wrap">
        <div class="images">
        </div>
    </div>
</div>
<script type="text/javascript" charset="utf-8">

panel_hooks = {
	load: function() {
		var contentDiv = this.contentDiv;
		$('.id_folders', contentDiv).change(function() {
        	$('.images', contentDiv).fadeOut('slow', function() { 
        	    $(this).html('').load('{% url folder_image_ajax %}' + $('.id_folders', contentDiv).val() + '/',  function() {
                    $('.images-wrap', contentDiv).data('lazyload:lastCheckedScrollTop', -10000);
                });
		    })
		});
		
		$('.images-wrap', contentDiv).lazyload('.image-box', 
			{threshold: 640 * 10, scrollTreshold: 640 * 5}
		);
	}
};
</script>
