<div class="panel">
    <div class="htmleditor">
        {{ html|safe }}
    </div>
</div>
<script type="text/javascript" charset="utf-8">
    (function() {
        function resizeEditor(event, panel) {
            var panel = panel || event.data.panel;
            $('.htmleditor', panel).height($(panel).height());
        }

        panel(function(event, panel) {
            $(window).bind('resize', {'panel': panel}, resizeEditor);
            resizeEditor(null, panel);  
        }, function(event, panel) {});
    })()
</script>