<div class="panel">
    <div class="htmleditor">
        {{ html|safe }}
    </div>
</div>
<script type="text/javascript" charset="utf-8">
    (function() {
        var id = Math.ceil(Math.random() * 1000000000);
        
        panel(function(event, panel) {
            $(document).bind('panel:contentChanged.' + id, function(event, p) {
                $('.change-notification', $(panel).parent()).fadeIn();
            })
        }, function(event, panel) {
            $(document).unbind('panel:contentChanged.' + id);
        });
    })()
</script>