{% load toolbar_tags %}
{% toolbar toolbar_groups toolbar_extra_group %}

<div class="iframe-container" style="position: absolute; top: 40px; left:0px; right:0px; bottom: 0px;">
	<textarea name="text">{{ text }}</textarea>
</div>

<script type="text/javascript" charset="utf-8">
panel_hooks = {
	load: function () {
		var self = this;
		var panel = self.contentDiv;

        var textareaId = 'xmleditor-' + Math.ceil(Math.random() * 1000000000);
	$('textarea', panel).attr('id', textareaId);

	var texteditor = CodeMirror.fromTextArea(textareaId, {            
            parserfile: 'parsexml.js',
            path: "{{STATIC_URL}}js/lib/codemirror/",
            width: 'auto',
            stylesheet: "{{STATIC_URL}}css/xmlcolors.css",
            parserConfig: {useHTMLKludges: false},
            textWrapping: false,
            lineNumbers: true,
            onChange: function() {
		self.fireEvent('contentChanged');
            },
            initCallback: function(editor) {
                // Editor is loaded
                // Buttons are connected
                // register callbacks for actions
                texteditor.grabKeys(
                    $.fbind(self, self.hotkeyPressed),
                    $.fbind(self, self.isHotkey) );
                
            }
        })

        $('.CodeMirror-content-wrapper').css({
            width: '100%', height: '100%' });
                    
        this.texteditor = texteditor;
        self._endload();       
    },

	unload: function() { 
		this.texteditor = null;
	},


	//refresh: function() { }, // no support for refresh

	saveInfo: function(saveInfo) {
		var myInfo = {
			url: "{% url file_xml fileid %}",
			postData: {
				content: this.texteditor.getCode()
			} 
		};
		$.extend(saveInfo, myInfo);
	},

        toolbarResized: function() {
            $('.iframe-container', this.contentDiv).css('top',
                    $('.toolbar', this.contentDiv).outerHeight() );
        }
};

</script>
