{% load toolbar_tags %}


<div class="change-font-size" style="">
    <div class="decrease-font-size">A<sup>-</sup></div>
    <div class="increase-font-size">A<sup>+</sup></div>
</div>

<div class="iframe-container" style="position: absolute; top: 41pt; left:0px; right:0px; bottom: 0px;">
	<textarea name="text">{{ text }}</textarea>
</div>


{% toolbar %}

<script type="text/javascript" charset="utf-8">

panel_hooks = {
	load: function () {
		var self = this;
		var panel = self.contentDiv;

        var textareaId = 'xmleditor-' + Math.ceil(Math.random() * 1000000000);
	        $('textarea', panel).attr('id', textareaId);

		var texteditor = CodeMirror.fromTextArea(textareaId, {
            parserfile: 'parsexml.js',
            path: "{{STATIC_URL}}js/codemirror/",
            stylesheet: "{{STATIC_URL}}css/xmlcolors.css",
            parserConfig: {useHTMLKludges: false},
            onChange: function() {
				panel.trigger('panel:contentChanged', self);
            },
            initCallback: function(editor) {
                // Editor is loaded
                // Buttons are connected
                // register callbacks for actions
                $(document).bind("ui:action:INSERT_TAG", function(event, data) {
                    var tag = data;
                    var text = texteditor.selection();
                    editor.replaceSelection('<' + tag + '>' + text + '</' + tag + '>');
                    if (text.length == 0) {
                        var pos = texteditor.cursorPosition();
                        texteditor.selectLines(pos.line, pos.character + tag.length + 2);
                    }
                    
                    $(document).trigger('panel:contentChanged', self);
                });

/*                texteditor.grabKeys(function(event) { 
                    if (keys[event.keyCode]) {
                        keys[event.keyCode]();
                    }
                }, function(event) { return event.altKey && keys[event.keyCode]; }); */
            }
        })
        
        $(texteditor.frame).css({width: '100%', height: '100%'});
        
        $('#toolbar-buttons li').wTooltip({
            delay: 1000, 
            style: {
                border: "1px solid #7F7D67",
                opacity: 0.9, 
                background: "#FBFBC6", 
                padding: "1px",
                fontSize: "12px"
            }
        });

        $('.decrease-font-size', panel).click(function() {
            var frameBody = $('body', $(texteditor.frame).contents());
            console.log(frameBody.css('font-size'));
            frameBody.css('font-size', parseInt(frameBody.css('font-size')) - 2);
        });
        
        $('.increase-font-size', panel).click(function() {
            var frameBody = $('body', $(texteditor.frame).contents());
            console.log(frameBody.css('font-size'));
            frameBody.css('font-size', parseInt(frameBody.css('font-size')) + 2);
        });
        
		this.texteditor = texteditor;
    },

	unload: function() { 
		this.texteditor = null;
	},


	//refresh: function() { }, // no support for refresh

	saveInfo: function(saveInfo) {
		var myInfo = {
			url: "{% url file_xml fpath %}", 
			postData: {
				content: this.texteditor.getCode()
			} 
		};
		$.extend(saveInfo, myInfo);
	}		
};

</script>
