{% extends "catalogue/base.html" %}
{% load i18n %}


{% block inner_content %}

<h1>{% trans "Page not found" %}</h1>

{% blocktrans with p=request.build_absolute_uri %}The page you're trying
to reach (<tt>{{p}}</tt>) could not be found. If it's a document, try
looking for it on the <a href="/">document list</a>.{% endblocktrans %}

<p>
{% blocktrans with m="mailto:radoslaw.czajka@nowoczesnapolska.org.pl" %}If you
still can't find what you're looking for, please
<a href="{{m}}">contact the administrator</a>.{% endblocktrans %}
</p>

{% url "catalogue_user" as m %}
<p>
{% blocktrans %}If you're coming from Redmine, please note that
work is no longer managed there. 
Go to the <a href="/">document list</a>
or to <a href="{{m}}">your page</a> instead.{% endblocktrans %}
</p>


{% endblock %}
