{% load compressed i18n %}
{% load wiki %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    {% compressed_css 'listing' %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css" />
    <title>{% block title %}{% trans "Platforma Redakcyjna" %}{% endblock title %}</title>
</head>
<body>

<div id="tabs-nav">

    <img id="logo" src="{{ STATIC_URL }}img/wl-orange.png" />

    <div id="tabs-nav-left">
        {% main_tabs %}
        <!--a {% ifequal active_tab "user" %}class="active" {% endifequal %}href="{% url wiki_user %}">{% trans "User" %}</a>
        <a {% ifequal active_tab "all" %}class="active" {% endifequal %}href="{% url wiki_document_list %}">{% trans "All" %}</a>
        <a {% ifequal active_tab "create" %}class="active" {% endifequal %}href="{% url wiki_create_missing %}">{% trans "Add" %}</a>
        <a {% ifequal active_tab "upload" %}class="active" {% endifequal %}href="{% url wiki_upload %}">{% trans "Upload" %}</a-->
    </div>

    <span id="login-box">
        {% include "registration/head_login.html" %}
    </span>

    <div class='clr' ></div>
</div>

<div id="content">

<div id="wiki_layout_left_column">
	{% block leftcolumn %}
	{% endblock leftcolumn %}
</div>
<div id="wiki_layout_right_column">
	{% block rightcolumn %}
	{% endblock rightcolumn %}
</div>

</div>

{% compressed_js 'listing' %}
{% block extrabody %}
{% endblock %}
</body>
</html>
