{% extends "wiki/base.html" %}
{% load i18n %}

{% block leftcolumn %}

    <h1>{{ book.title }}</h1>

<p>
    {% for chunk in book %}
        <a target="_blank" href="{{ chunk.get_absolute_url }}">{{ chunk.comment }}</a><br/>
    {% endfor %}
</p>

<p>
<a href="{% url wiki_book_xml book.slug %}">{% trans "Full XML" %}</a><br/>
<a target="_blank" href="{% url wiki_book_html book.slug %}">{% trans "HTML version" %}</a><br/>
<a href="{% url wiki_book_txt book.slug %}">{% trans "TXT version" %}</a><br/>
{% comment %}
<a href="{% url wiki_book_epub book.slug %}">{% trans "EPUB version" %}</a><br/>
<a href="{% url wiki_book_pdf book.slug %}">{% trans "PDF version" %}</a><br/>
{% endcomment %}
</p>

<p style='width:200px; height: 75px; border: 1px dotted gray; border-corners: 4px;'></p>

{% endblock leftcolumn %}

{% block rightcolumn %}


{% endblock rightcolumn %}
