{% extends "base.html" %}
{% load compressed %}

{% block extrahead %}
{% compressed_css 'listing' %}
{% endblock extrahead %}

{% block extrabody %}
{% compressed_js 'listing' %}
<script type="text/javascript" charset="utf-8">
$(function() {
	function search(event) {
        event.preventDefault();
        var expr = new RegExp(slugify($('#file-list-filter').val()), 'i');
        $('#file-list tbody tr').hide().filter(function(index) {
            return expr.test(slugify($('a', this).text()));
        }).show();
    }

    $('#file-list-find-button').click(search).hide();
	$('#file-list-filter').bind('keyup change DOMAttrModified', search);
});
</script>
{% endblock %}

{% block maincontent %}
<h1><img src="{{STATIC_URL}}/img/logo.png">Platforma Redakcyjna</h1>


<div id="document-list">
	<form method="get" action="#">
    <table  id="file-list">
    	<thead>
    		<tr><th>Filtr:</th>
			<th><input autocomplete="off" name="filter" id="file-list-filter" type="text" size="40" /></th>
			<th><input type="reset" value="Wyczyść" id="file-list-reset-button"/></th>
			</tr>
		</thead>
		<tbody>
    	{% for file in document_list %}
            <tr>
            	<td colspan="3"><a target="_blank" href="{% url wiki.views.document_detail file|urlencode %}">{{ file }}</a></td>
				<!-- placeholder </td> -->
			</tr>
    	{% endfor %}
		</tbody>
    </table>
	</form>

	<div id="last-edited-list">
		<h2>Twoje ostatnio otwierane dokumenty:</h2>
		<ol>
			{% for	 name, date in last_docs %}
			<li><a href="{% url wiki.views.document_detail name|urlencode %}"
				target="_blank">{{ name }}</a><br/><span class="date">({{ date|date:"H:i:s, d/m/Y" }})</span></li>
			{% endfor %}
		</ol>
	</div>
</div>

</div>
{% endblock maincontent %}
