<tr>
    <td colspan="3">
        <a target="_blank" data-id="{{ book.slug }}"
        href="{% url wiki_book book.slug %}">[?]</a>
        {% ifequal book.chunk_set.count 1 %}
            <a target="_blank" data-id="{{ book.slug }}"
                    href="{% url wiki_editor book.slug %}">
                    {{ book.title }}</a>
        {% else %}
            {{ book.title }}
            <div class="chunk-list">
            {% for chunk in book %}
                <a target="_blank" data-id="{{ book.slug }}"
                    href="{{ chunk.get_absolute_url }}">
                    <span class='chunkno'>{{ forloop.counter }}.</span>
                    {{ chunk.comment }}</a><br/>
            {% endfor %}
            </div>
        {% endifequal %}
    </td>
</tr>
