<div id="history-viewer" class="editor" style="display: none">
    <div class="toolbar">
    </div>
    <div id="history-view">
        <p class="message-box" style="display:none;">
        </p>
        <div class="row-stub" style="display: none;">
            <span data-stub-value="version"></span>
            <input type="checkbox" name="revision" data-stub-value="version" data-stub-target="value"><span data-stub-value="description"></span>
            <span data-stub-value="author"></span>
            <span data-stub-value="date"></span>
        </div>
        <div id="changes-list">
        </div>
        <p>
            <button type="button" id="make-diff-button">
                Porównaj
            </button>
        </p>
        <!-- <p><button type="button" id="more-history-button">Więcej</button></p> -->
        <div id="diff-view">
        </div>
    </div>
</div>
