<div id="history-view-editor" class="editor" style="display: none">
    <div class="toolbar">
    	<button type="button" id="make-diff-button">Porównaj</button> 
	</div> 
    <div id="history-view">
        <p class="message-box" style="display:none;">
        </p>
        <div class="row-stub" style="display: none;">
			<span class="tag" data-stub-target="data-version-tag" data-stub-value="tag">dodaj tag</span>
			<span data-stub-value="version"></span>: <span data-stub-value="description"></span>
            (<span data-stub-value="author"></span>, <span data-stub-value="date"></span>)
        </div>
        <div id="changes-list">
        </div>
        <p>            
    
        <div id="diff-view">
        </div>
    </div>
</div>
