{% load i18n %}
<div id="save_dialog" class="dialog" data-ui-jsclass="SaveDialog">
	<form method="POST" action="#">
    {% csrf_token %}
	<p>{{ forms.text_save.comment.label }}</p>
	<p class="help_text">
		{{ forms.text_save.comment.help_text}}
		<span data-ui-error-for="{{ forms.text_save.comment.name }}"> </span>
	</p>
	{{forms.text_save.comment }}



	{% if request.user.is_anonymous %}
    <table style='margin:0 4%;'>
    <tr>
        <td>{{ forms.text_save.author_name.label }}:</td>
        <td>{{ forms.text_save.author_name }}
        <span class="help_text">{{ forms.text_save.author_name.help_text }}</span>
        <span data-ui-error-for="{{ forms.text_save.author_name.name }}"> </span></td>
    </tr>
    <tr>
        <td>{{ forms.text_save.author_email.label }}:</td>
        <td>{{ forms.text_save.author_email }}
        <span class="help_text">{{ forms.text_save.author_email.help_text }}</span>
        <span data-ui-error-for="{{ forms.text_save.author_email.name }}"> </span></td>
    </tr>
    </table>
	{% else %}
	<p>
		{{ forms.text_save.stage_completed.label }}:
		{{ forms.text_save.stage_completed }}
		<span class="help_text">{{ forms.text_save.stage_completed.help_text }}</span>
		<span data-ui-error-for="{{ forms.text_save.stage_completed.name }}"> </span>
	</p>
    {% if can_pubmark %}
	<p>
		{{ forms.text_save.publishable.label_tag }}:
		{{ forms.text_save.publishable }}
		<span class="help_text">{{ forms.text_save.publishable.help_text }}</span>
		<span data-ui-error-for="{{ forms.text_save.publishable.name }}"> </span>
	</p>
    {% endif %}

	{% endif %}


	{% for f in forms.text_save.hidden_fields %}
		{{ f }}
	{% endfor %}

	<p data-ui-error-for="__all__"> </p>

	<p class="action_area">
		<button type="submit" class="ok" data-ui-action="save">Zapisz</button>
		<button type="button" class="cancel" data-ui-action="cancel">Anuluj</button>
	</p>
	</form>
</div>
