<h2>Publikacje</h2>
<p><a href="/publications/refresh">Odśwież listę publikacji</a></p>
<ol>
<% @publications.each do |pub| %>
	<li><a href="/publications/issues/<%= pub.name %>"><%= pub.name %></a></li>
<% end %>
</ol>
