<table>
<tr><th>Ścieżka zasobu</th><th>Rozpoznano</th><th>ID zasobu</th></tr>
<% @repo_status.each do |status| %>
<tr>
<td><%= status[:path] %></td>
<td><%= (status[:matched] && 'Tak') || 'Nie' %></td>
<td><%= status[:match] || '' %></td>
</tr>
<% end %>
</table>
