# 
#  localsettings template for Platforma
#
#  Duplicate this file as localsettings.py and change it to your liking.
#  Settings defined in localsettings.py will override settings from 
#  settings.py file. localsettings.py should never be commited 
#  to a version control system. Please make changes to settings.py 
#  or localsettings.sample instead.
#

# Path to repository with managed documents
REPOSITORY_PATH = '/home/user/repository'

# Subdirectory of STATIC_ROOT containing images
IMAGE_DIR = 'images'

CAS_SERVICE_URL = 'http://stigma.nowoczesnapolska.org.pl/cas/'

