## Python libraries
lxml>=2.2
mercurial>=1.3.1
PyYAML>=3.0

## Book conversion library
git+git://github.com/fnp/librarian.git@master#egg=librarian

## Django 
Django>=1.1.1,<1.2
sorl-thumbnail>=3.2
django-maintenancemode>=0.9

# migrations
south>=0.6

## Debugging utils, uncomment this if you want tests
# django-nose>=0.0.3
# django-debug-toolbar>=0.8

