{% load i18n %}
<div id="objects-editor" class="editor" style="display: none">
  <div class="toolbar navbar navbar-dark bg-secondary">
    <form class="form-inline">
      <input class='tag-name form-control mr-2' title='{% trans "Object name" %}' />
      <button class='add btn btn-info mr-2'>{% trans "Add" %}</button>
    </form>

    <div class="mr-auto">
      <span class="objects-list">
      </span>
    </div>
  </div>

  <div class='scrolled'>
    <img src="{{ document.image.url }}" class='area-selectable' alt="Tagged image" />
  </div>
</div>
