<% @project = Project.find(:first, :conditions => ["id = ?", @settings[:project]]) %>
<fieldset>
<p>
  <label for="settings[project]">Użyj w projektcie: </label>
  <%= collection_select(:project, :id, Project.all, :id, :name, {}, {:name => "settings[project]"}) %>
</p>

<p>
  <label for="settings[pattern]">Filtr publikacji: </label>
  <%= text_field_tag 'settings[pattern]', @settings[:pattern] || '' %>
</p>

<p>
  <label for="settings[editorurl]">Docelowy URL: </label>
  <%= text_field_tag 'settings[editorurl]', @settings[:editorurl] || '' %>
</p>

</fieldset>
