{% extends "catalogue/base.html" %}


{% block content %}
<h1>Flickr</h1>

<form method="post">
{% csrf_token %}
URL: <input size="50" placeholder="np. http://www.flickr.com/photos/abcdef/1234567890" name="flickr_url" value="{{ url }}"/>
<input type="submit" value="Generuj metadane" />
</form>

<textarea style="width:100%" rows="5">
&lt;dc:relation.coverImage.url xmlns:dc="http://purl.org/dc/elements/1.1/">{{ image_url }}&lt;/dc:relation.coverImage.url>
&lt;dc:relation.coverImage.attribution xmlns:dc="http://purl.org/dc/elements/1.1/">{{ author }}@Flickr, {{ license_name }}&lt;/dc:relation.coverImage.attribution>
&lt;dc:relation.coverImage.source xmlns:dc="http://purl.org/dc/elements/1.1/">{{ url }}&lt;/dc:relation.coverImage.source>
</textarea>
{% endblock %}
