# -*- coding: utf-8 -*-
#
#  localsettings template for Platforma
#
#  Duplicate this file as localsettings.py and change it to your liking.
#  Settings defined in localsettings.py will override settings from 
#  settings.py file. localsettings.py should never be commited 
#  to a version control system. Please make changes to settings.py 
#  or localsettings.sample instead.
#

import os.path

from redakcja.settings.common import PROJECT_ROOT
from redakcja.settings.compress import PIPELINE

# Path to repository with managed documents
CATALOGUE_REPO_PATH = '/srv/redakcja/books'

LOGGING_CONFIG_FILE = "/srv/redakcja/logging.cfg.dev"

BASE_DIR = os.path.dirname(PROJECT_ROOT)

STATIC_ROOT = os.path.join(BASE_DIR, 'var', 'static')
MEDIA_ROOT = os.path.join(BASE_DIR, 'var', 'media')
STATIC_URL = '/static/'
MEDIA_URL = '/media/'


# Subdirectory of MEDIA_ROOT containing images
IMAGE_DIR = 'images/'

CAS_SERVER_URL = 'http://logowanie.nowoczesnapolska.org.pl/cas/'
CAS_VERSION = '1'

REDMINE_URL = 'http://redmine.nowoczesnapolska.org.pl/'


DEBUG = True
MAINTENANCE_MODE = False

PIPELINE['PIPELINE_ENABLED'] = False

APICLIENT_WL_CONSUMER_KEY = None
APICLIENT_WL_CONSUMER_SECRET = None

CELERY_ALWAYS_EAGER = True

SECRET_KEY = 'very secret'
ALLOWED_HOSTS = ['*']

EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'
