# 
#  localsettings template for Platforma
#
#  Duplicate this file as localsettings.py and change it to your liking.
#  Settings defined in localsettings.py will override settings from 
#  settings.py file. localsettings.py should never be commited 
#  to a version control system. Please make changes to settings.py 
#  or localsettings.sample instead.
#

# THIS IS REQUIRED
from redakcja.settings import *

# Path to repository with managed documents
WIKI_REPOSITORY_PATH = '/home/lrekucki/projekty/fundacja/books'

LOGGING_CONFIG_FILE = "/home/lrekucki/projekty/fundacja/redakcja/logging.cfg.dev"

STATIC_ROOT = '/home/lrekucki/projekty/fundacja/redakcja/redakcja/static/'
MEDIA_ROOT = '/home/lrekucki/projekty/fundacja/media/'

# Subdirectory of STATIC_ROOT containing images
IMAGE_DIR = 'images'

CAS_SERVER_URL = 'http://logowanie.wolnelektury.pl/cas/'
DEBUG = True
COMPRESS = False