{% load i18n %}
<div id="side-annotations">
    <!-- annotations toolbar -->
    <div class="toolbar">
        <button class="refresh" title="Przypisy autorskie" data-tag="pa">pa</button>
        <button class="refresh active" title="Przypisy edytorskie" data-tag="pe">pe</button>
        <button class="refresh" title="Przypisy redakcyjne" data-tag="pr">pr</button>
        <button class="refresh" title="Przypisy tłumacza" data-tag="pt">pt</button>
        <button class="refresh" title="Wszystkie przypisy" data-tag="pa,pe,pr,pt">{% trans "all" %}</button>
        <div class="toolbar-end">
        </div>
    </div>
    <div class="error-message">
    </div>
    <div class="annotations-list">
    </div>
    <div class="spinner">
        <img src='/media/static/img/spinner.gif' alt="Loading" />
    </div>
</div>
