{% load i18n %}
<div id="side-gallery">
    <!-- gallery toolbar -->
  <div class="navbar navbar-dark bg-secondary">
    <div class="nav">
      <button class="btn btn-info mr-2 start-page" alt="{% trans "Go to first image of this part" %}" title="{% trans "Go to first image of this part" %}">
        ⇤
        </button>
        <button class="btn btn-info mr-2 previous-page" title="{% trans "Previous" %}">
          ⯇
        </button>
        <input type="text" size="3" maxlength="3" value="0" class="page-number " />
        <span class="navbar-text ml-1 mr-2" id="imagesCount">/0</span>
        <button class="btn btn-info mr-2 next-page" title="{% trans "Next" %}">
          ⯈
        </button>
        <button class="btn btn-info mr-2 zoom-in">＋</button>
        <button class="btn btn-info mr-2 zoom-out">&mdash;</button>
    </div>
  </div>
    <div class="error_message alert alert-danger ml-4 mr-4 mt-4">
    </div>
    <div class="gallery-image">
        <img src="{{MEDIA_URL}}images/empty.png" alt="no image" />
    </div>
</div>
