{% load i18n %}
<div id="history-view-editor" class="editor {% if can_pubmark %}can-approve{% endif %}" style="display: none">
  <div class="toolbar navbar navbar-dark bg-secondary">
    <div class="nav">
      <button type="button" id="make-diff-button" class="btn btn-info mr-2"
              data-enabled-when="2" disabled="disabled">{% trans "Compare versions" %}</button>
      <button type="button" id="pubmark-changeset-button" class="btn btn-info mr-2"
                data-enabled-when="1" disabled="disabled">{% trans "Approve" %}</button>
      <button type="button" id="doc-revert-button" class="btn btn-info mr-2"
              data-enabled-when="1" disabled="disabled">{% trans "Revert document" %}</button>
      <button id="open-preview-button" disabled="disabled" class="btn btn-info mr-2"
              data-enabled-when="1"
              data-basehref="{% url 'wiki_editor_readonly' chunk.book.slug chunk.slug %}">{% trans "View version" %}</button>

    </div>
  </div>
  <div id="history-view">
    <table id="changes-list-container">
      <tbody id="changes-list">
      </tbody>
      <tbody style="display: none;">
	<tr data-stub-value="publishable" data-stub-target="data-approved" class="entry row-stub">
	  <td data-stub-value="version"></td>
	  <td>
            <span data-stub-value="date"></span>
            <br/><span data-stub-value="author"></span>
	    <br />
	    <span data-stub-value="description"></span>
	  </td>
	  <td>
            <div class="approved"></div>
            <div data-stub-value="published"></div>
            <div data-stub-value="tag"></div>
	  </td>
        </tr>
      </tbody>
    </table>
    <p class="message-box" style="display:none;"></p>
  </div>
</div>
