{% load i18n %}
<div id="summary-view-editor" class="editor" style="display: none">
    <div id="summary-view">
    	<div class="summary-cover-area">
		<p><img id="summary-cover" class="book-cover"
			{% if revision %}
			     src="{% url 'cover_preview' chunk.book.slug chunk.slug revision %}"
			{% else %}
			     src="{% url 'cover_preview' chunk.book.slug chunk.slug %}"
			{% endif %}></p>
		<p><button class="btn btn-info" id="summary-cover-refresh">{% trans "Refresh from working copy" %}</button></p>
		</div>

		<h2>
			{{ chunk.pretty_name }}
		</h2>
        <p><a href="{{ chunk.book.get_absolute_url }}">{% trans "Go to the book's page" %}</a>
        </p>
		<p>
			<label>{% trans "Document ID" %}:</label>
			<span>{{ chunk.book.slug }}/{{ chunk.slug }}</span>
		</p>
		<p>
		    <label>{% trans "Characters in document" %}:</label>
		    <span id="charcounts_text">
			    <br><span id="charcount"></span> (<span id="charcount_pages"></span> {% trans "pages" %}, {% trans "without footnotes and themes" %})
			    <br><span id="charcount_full"></span> (<span id="charcount_full_pages"></span> {% trans "pages" %}, {% trans "with footnotes and themes" %})
		    </span>
		    <span id="charcounts_raw">
			    <br><span id="charcount_raw"></span> (<span id="charcount_raw_pages"></span> {% trans "pages" %}, {% trans "untagged" %})
		    </span>
		</p>
	</div>
</div>
