{% load i18n %}
<div id="summary-view-editor" class="editor" style="display: none">
    <!-- <div class="toolbar">
    </div> -->
    <div id="summary-view">
    	<div class="summary-cover-area">
		<p><img id="summary-cover" class="book-cover"
			{% if revision %}
			     src="{% url 'cover_preview' chunk.book.slug chunk.slug revision %}"
			{% else %}
			     src="{% url 'cover_preview' chunk.book.slug chunk.slug %}"
			{% endif %}></p>
		<p><button id="summary-cover-refresh">{% trans "Refresh from working copy" %}</button></p>
		</div>

		<h2>
			<label>{% trans "Title" %}:</label>
			<span data-ui-editable="true" data-edit-target="meta.displayTitle"
			>{{ chunk.pretty_name }}</span>
		</h2>
        <p><a href="{{ chunk.book.get_absolute_url }}">{% trans "Go to the book's page" %}</a>
        </p>
		<p>
			<label>{% trans "Document ID" %}:</label>
			<span>{{ chunk.book.slug }}/{{ chunk.slug }}</span>
		</p>
		<p>
			<label>{% trans "Current version" %}:</label>
			{{ chunk.revision }} ({{ chunk.head.created_at }})
		</p>
		<p>
			<label>{% trans "Last edited by" %}:</label>
			{{ chunk.head.author }}
		</p>
		<p>
			<label>{% trans "Link to gallery" %}:</label>
			<span data-ui-editable="true" data-edit-target="meta.galleryLink"
			>{{ chunk.book.gallery }}</span>
		</p>
		<p>
		    <label>{% trans "Characters in document" %}:</label>
		    <span id="charcount"></span> (<span id="charcount_pages"></span> {% trans "pages" %}<span id="charcount_untagged">, {% trans "untagged" %}</span>)
		</p>
	</div>
</div>
