{% load i18n %}
<div id="simple-editor" class="editor" style="display: none">
  <div class="navbar navbar-dark bg-secondary">
    <div class="nav">
      {% if not readonly %}
        <button class="btn btn-info mr-2" id="insert-theme-button">
          {% trans "Insert theme" %}
        </button>
        <button class="btn btn-info" id="insert-annotation-button">
          {% trans "Insert annotation" %}
        </button>
	{% endif %}
    </div>
  </div>
  <div id="html-view" class="htmlview">
  </div>
</div>
