{% extends "documents/base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block titleextra %}{% trans "Add image" %}{% endblock %}

{% block content %}
<div class="card mt-4 mb-4">
	<div class="card-header">
<h1>{% trans "Add image" %}</h1>
	</div>
	<div class="card-body">

<form method="post">{% csrf_token %}
<input type="hidden" name='form_id' value="flickr" />
<table class='editable'><tbody>
    {% bootstrap_form ff %}
    {% buttons %}
    <button class="btn btn-primary" type="submit">{% trans "Load from Flickr" %}</button>
    {% endbuttons %}
</tbody></table>
</form>

<form method="post" enctype="multipart/form-data">{% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button class="btn btn-primary" type="submit">{% trans "Add image" %}</button>
    {% endbuttons %}
</form>

	</div>
</div>

{% endblock %}
