body {
    margin: 0;
    font: 14px Helvetica, Verdana, sans-serif;
    overflow: hidden;
}

#breadcrumbs {
    padding: 5px 10px;
    background-color: #CDCDCD;
    border-bottom: 1px solid #858585;
}

ul {
    margin: 20px;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li a {
    display: block;
    padding: 5px 20px;
    width: 480px;
}

li a:hover {
    background-color: #BCD6E9;
}

#tabs {
    border-bottom: 1px solid #858585;
    background-color: #B7B7B7;
}

#tabs a {
    display: block;
    border-right: 1px solid #858585;
    float: left;
    padding: 5px 10px;
}

#tabs a.active {
    background-color: #909090;
}

.theme-begin {
    display: none;
}

label {
    display: block;
}

#text_id {
    width: 480px;
    height: 480px;
}

#file-text {
    padding: 5px 10px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#whatever {
    float: left;
}

#images-wrap {
/*    width: 0px;*/
    height: 480px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #fff;
    float: left;
}

#sidebar {
    float: left;
    width: 8px;
    overflow: hidden;
}

#toggle-sidebar {
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    background-color: #DDD;
    width: 8px;
    height: 100%;
    float: left;
}

#toggle-sidebar:hover {
    background-color: #999;
    cursor: ew-resize;
}

#status-bar {
    border-top: 1px solid #999;
    background-color: #EEE;
    padding: 2px 10px;
}

.errorlist {
    color: red;
    margin: 0 20px 0 0;
    padding: 0;
    float: left;
}

.errorlist:before {
    content: '';
    clear: both;
}

p { 
    margin: 0;
}

.image-box {
    border-top: 1px solid #DDD;
}

#toolbar, #toolbar ol {
    display: block;
    margin: 0;
    padding: 0;
    background-color: #CCC;
    border-bottom: 1px solid #AAA;
}

#toolbar {
    overflow: hidden;
    width: 400%;
}

#sidebar-toolbar, #sidebar-toolbar ol {
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    background-color: #CCC;
    border-bottom: 1px solid #AAA;
}

#sidebar-tabs li, #toolbar-tabs li {
    font-size: 14px;
    display: block;
    float: left;
    margin: 4px 0 -1px 4px;
    padding: 2px 10px 0 10px;
    background-color: #CCC;
    border: 1px solid #AAA;
    border-radius-topleft: 8px;
    border-radius-topright: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}

#sidebar-tabs li:hover, #sidebar-tabs li.active, #toolbar-tabs li:hover, #toolbar-tabs li.active {
    cursor: default;
    background-color: #EEE;
    border-bottom: 1px solid #EEE;
}

#toolbar-buttons {
    background-color: #EEE;
}

#toolbar-buttons li {
    display: block;
    font-size: 12px;
    padding: 1px 8px;
    margin: 4px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 8px;
    float: left;
}

#toolbar-buttons li:hover {
    background-color: #777;
    color: #FFF;
    cursor: default;
}
