body {
    margin: 0;
    font: 14px Helvetica, Verdana, sans-serif;
    overflow: hidden;
}

#breadcrumbs {
    padding: 5px 10px;
    background-color: #CDCDCD;
    border-bottom: 1px solid #858585;
}

ul {
    margin: 20px;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li a {
    display: block;
    padding: 5px 20px;
    width: 480px;
}

li a:hover {
    background-color: #BCD6E9;
}

#tabs {
    border-bottom: 1px solid #858585;
    background-color: #B7B7B7;
}

#tabs a {
    display: block;
    border-right: 1px solid #858585;
    float: left;
    padding: 5px 10px;
}

#tabs a.active {
    background-color: #909090;
}

.theme-begin {
    display: none;
}

label {
    display: block;
}

#text_id {
    width: 480px;
    height: 480px;
}

#file-text {
    padding: 5px 10px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#images-wrap {
    width: 0px;
    height: 480px;
    border-right: 1px solid #999;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #fff;
    float: left;
}

#sidebar {
    float: left;
    width: 8px;
    overflow: hidden;
}

#toggle-sidebar {
    background-color: #DDD;
    width: 7px;
    height: 100%;
    float: left;
}

#toggle-sidebar:hover {
    background-color: #999;
    cursor: pointer;
}

#status-bar {
    border-top: 1px solid #999;
    background-color: #EEE;
    padding: 2px 10px;
}

.errorlist {
    color: red;
    margin: 0 20px 0 0;
    padding: 0;
    float: left;
}

.errorlist:before {
    content: '';
    clear: both;
}

p { 
    margin: 0;
}

.image-box {
    border-top: 1px solid #DDD;
}

#toolbar, #toolbar ol {
    display: block;
    margin: 0;
    padding: 0;
    background-color: #CCC;
    border-bottom: 1px solid #AAA;
}

#toolbar li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    border-left: 1px solid #EEE;
    border-right: 1px solid #AAA;
}

#toolbar li p, #toolbar ol li {
    padding: 2px 10px;
}

#toolbar li p:hover {
    cursor:pointer;
    background-color: #EEE;
}