.toolbar {
    overflow: hidden;
    z-index: 100;
    background: #AAA;
    position: absolute;
    top: 0px; left:0px; right: 0px; 
    height: auto;
    padding: 2px;
    margin: 0px;
}

.toolbar p {
    margin: 0px;

    padding: 0px;
    padding-left: 0.5em;

    border: none;
    background: #AAA;
    font-size: 10px;
    line-height: 12px;
}

.toolbar div {
    background: green;
    margin: 0px;
    padding: 0px;
}

.toolbar-buttons-container {
    background: #DDD;
    padding-top: 2px;
    padding-bottom: 2px;
}

.toolbar-buttons-container button {
    background: #DDD;
    border: none;
    padding: 2px 0.5em;
    background: #AAA;
    font-family: Sans-Serif;
}

.toolbar-buttons-container button:hover {
    background: #EEE;
}

.toolbar-buttons-container button:active {
    background: yellow;
}

.panel-toolbar-extra button {
    background: inherit;    
}

.toolbar-tabs-container > p {
    background: #CCC;
}

.toolbar-tabs-container > p button {
    background: #CCC;
}

.toolbar-tabs-container button.active {
    background: #DDD;
}