<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:p="http://platforma.wolnelektury.pl/">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>Platforma Redakcyjna</title>

    </head>
    <body id="base">
        <h2>Przepraszamy,</h2>
        <p>Platfroma Redakcyjna jest tymczasowo niedostępna
            z powodu prac administracyjnych.</p>

        <p>Prosimy o wyrozumiałość i ponowne odwiedziny :)</p>
    </body>
</html>
