{% load compressed i18n %}
{% load catalogue %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    {% compressed_css 'catalogue' %}
    <title>{% block title %}{% trans "Platforma Redakcyjna" %}{% endblock title %}</title>
    {% block add_css %}{% endblock %}
</head>
<body>
<!--#include file="/pozor.html"-->

<div id="tabs-nav">

    <a href="{% url 'catalogue_document_list' %}">
        <img src="http://edukacjamedialna.edu.pl/static/img/logo.png" id="logo" width="70px">
    </a>

    <div id="tabs-nav-left">
        {% main_tabs %}
    </div>

    <span id="login-box">
        {% include "registration/head_login.html" %}
    </span>

    <div class='clr' ></div>
</div>

<div id="content">

{% block content %}
<div id="catalogue_layout_left_column">
	{% block leftcolumn %}
	{% endblock leftcolumn %}
</div>
<div id="catalogue_layout_right_column">
	{% block rightcolumn %}
	{% endblock rightcolumn %}
</div>
{% endblock content %}

</div>


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
{% compressed_js 'catalogue' %}
{% block add_js %}{% endblock %}
{% block extrabody %}
{% endblock %}
</body>
</html>
