{% extends "catalogue/base.html" %}
{% load i18n %}

{% block inner_content %}
    <h1>{% trans "Create a new resource" %}</h1>


    <form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
        {{ form.non_field_errors }}
        <label for="owner">{% trans "Owner" %}</label>
            {{ form.owner_organization.errors }}
            <select class="form-control" name="owner_organization" id="owner"
                data-toggle="tutorial" data-tutorial="1" data-placement="bottom"
                data-content="{% trans 'You can choose whether the resource should be owned by you or by your organization. This can be changed later.' %}"
            >
                <option>{{ request.user }}</option>
                {% for org in request.user.membership_set.all %}
                    <option value="{{ org.organization.pk }}"
                        {% if form.owner_organization.value == org.organization.pk %}selected="selected"{% endif %}
                    >{{ org.organization }}</option>
                {% endfor %}
            </select>
        <label for="title">{% trans "Title" %}</label>
            {{ form.title.errors }}
            <input class="form-control" name="title" id="title" type="text" value='{{ form.title.value|default:"" }}'>
        <label for="title">{% trans "Cover image" %}</label>
            {{ form.cover.errors }}
            {{ form.cover }}
        <label for="publisher">{% trans "Publisher" %}</label>
            {{ form.publisher.errors }}
            <input class="form-control" name="publisher" id="publisher" type="text" value='{{ form.publisher.value|default:"" }}'>

        {% for tag_form in tag_forms %}
            {% for tag_field in tag_form %}
                <label for="id_{{ tag_form.prefix }}-{{ tag_field.name }}">{{ tag_field.label }}</label>
                {{ tag_field.errors }}
                {{ tag_field }}
                <div class="help-text" style="text-align: right;"></div>
            {% endfor %}
        {% endfor %}

        <label for="description">{% trans "Summary" %}</label>
            {{ form.description.errors }}
            <textarea class="form-control" name="description" id="description"
                data-toggle="tutorial" data-tutorial="100" data-placement="top"
                data-content="{% trans 'You can provide a short description of the document here.' %}"
            >{{ form.description.value|default:"" }}</textarea>

        <button style="margin-top:1em;" class="btn btn-default" type="submit">{% trans "Create resource" %}</button>
    </form>

{% endblock %}
