{% load i18n %}

<tr>
    <td><a href="{% url 'catalogue_image' image.slug %}" title='{% trans "Image settings" %}'>[B]</a></td>
    <td><a target="_blank"
                href="{% url 'wiki_img_editor' image.slug %}">
                {{ image.title }}</a></td>
    <td>{% if image.stage %}
        {{ image.stage }}
    {% else %}–
    {% endif %}</td>
    <td class='user-column'>{% if image.user %}<a href="{% url 'catalogue_user' image.user.username %}">{{ image.user.first_name }} {{ image.user.last_name }}</a>{% endif %}</td>
    <td>
        {% if image.published %}P{% endif %}
        {% if image.new_publishable %}p{% endif %}
        {% if image.changed %}+{% endif %}
    </td>
</tr>
