{% extends "catalogue/base.html" %}

{% load i18n %}
{% load catalogue document_list %}

{% block content %}
<div class="row">
<div class="col-md-8 col-md-offset-2">

    <a style="float:right" class="btn btn-default" href="{% url 'catalogue_create_missing' %}">{% trans "New resource +" %}</a>

    <h1 style="margin-bottom: 1em">{% trans "My resources" %}</h1>

    <!--ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#">{% trans "Projects" %}</a></li>
    </ul-->

    {% document_list user=user %}

</div>
</div>

{% endblock %}

