{% load i18n %}
{% load gravatar %}

<ul class='wall' style='padding-left: 0; list-style: none;'>
{% for item in wall %}
    <li style='clear: left; border-top: 1px dotted gray;  padding-bottom:1em; margin-bottom: 1em;'>
        <div style='float: left;margin-right: 1em;'>
            {% if item.get_email %}
                {% gravatar_img_for_email item.get_email 32 %}
                <br/>
            {% endif %}

            <!--img src='{{ STATIC_URL }}img/wall/{{ item.tag}}.png' alt='{% trans item.tag %}' /-->
        </div>

        {{ item.timestamp }}
        <br/>
        {% if item.user %}
            <a href="{% url catalogue_user item.user.username %}">
            {{ item.user.first_name }} {{ item.user.last_name }}</a>
            &lt;{{ item.user.email }}>
        {% else %}
            {{ item.user_name }}
            {% if item.get_email %}
                &lt;{{ item.get_email }}>
            {% endif %}
        {% endif %}
        <br/><a target="_blank" href='{{ item.url }}'>{{ item.title }}</a>
        <br/>{{ item.summary }}
        </li>
{% endfor %}
</ul>
