#sidebar {
    background-color: #FFF;
}

#side-search {
    height: 100%;
    display: none;
    background-color: #C1C1C1;
}


#side-annotations {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

#side-annotations #annotations-container {
    flex: 1;
    position: relative;
    overflow: hidden;
}

.annotations-list {
    flex: 1;
    height: 100%;
    overflow: auto;
    padding: 1em 1em 0 1em;
}

#side-annotations .error-message {
    padding: 1em;
}

#side-annotations .spinner {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#side-annotations .akap {
    font-size: 16px;
    font-family: "Georgia", "Times New Roman", serif;
    line-height: 1.5em;
    margin-bottom: 1em;
    position: relative;
}

#side-annotations .src {
    font-family: monospace;
    font-size: 10px;
    font-weight: 400;
    line-height: 13px;
    position: absolute;
    top: 0;
    bottom: -.5em;
    display:none;
    background: white;
    border: 1px solid #888;
    width: 100%;
}

#side-annotations .akap:hover .src {
    display: block;
}

/* =========== */
/* = Gallery = */
/* =========== */

#side-gallery {
    height: 100%;
    display: flex;
    flex-direction: column;
}


.change-gallery-panel {
    width: 100%;
    border-bottom: 1px solid #777;
    background-color: #C1C1C1;
    margin: 0;
    padding: 2px;
    z-index: 10;
}

.gallery-image {
    flex: 1;
    overflow: hidden;
    position: relative;
}

.gallery-image img {
    position: absolute;
    -moz-drag: none;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    cursor: pointer;

	background-color: white;
	min-height: 100px;
	min-width: 100px;
}

.gallery-image img[src=''] {
	background-color: red;
}

#motifs-editor .toolbar {
    height: auto;
}

#objects-editor .toolbar {
    height: auto;
}
