html {
    width: 100%;
    height:  100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#editor {
    flex: 1;
}

#drag-layer {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:1000;
    display: none;
    cursor: col-resize;
}

.editor {
    height: 100%;
}

.image-object {
    padding-left: 1em;
    font: 12px Sans, Helvetica, Verdana, sans-serif;
}
.image-object:hover {
    cursor: pointer;
}
#objects-list .delete {
    padding-left: 3px;
    font: 10px Sans, Helvetica, Verdana, sans-serif;
}
#objects-list .delete:hover {
    cursor: pointer;
}

#objects-list .active {
    color: #800;
}


#editor.readonly .editor {
	right: 0px;
}

#html-view {
    overflow: auto;
}

#header.saving {
	background-color: #E1C1C1;
}
#header.saving #save-button {
    display: none;
}
#save-attempt-info {
    color: #801000;
    display: none;
}
.saving #save-attempt-info {
    display: inline;
    font-weight: normal;
}


#header.out-of-date {
    background-color: #E1C1C1;
}
#header.out-of-date #save-button {
    display: none;
}
#out-of-date-info {
    color: #801000;
    display: none;
}
.out-of-date #out-of-date-info {
    display: inline;
}


p { margin: 0;}

#loading-overlay {
    background-color: #FFF;
    position: absolute;
    z-index: 1000;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#loading-message {
    position: absolute;
    height: 20px;
    width: 120px;
    left: 50%;
    margin-left: -60px;
    top: 50%;
    margin-top: -10px;
}

#loading-message img {
    float: left;
    margin-right: 10px;
    margin-top: -6px;
}

/*
 * CodeMirror
 */

#source-editor {
    display: flex;
    flex-direction: column;
}
#source-editor .CodeMirror {
    flex: 1;
}

.CodeMirror-line-numbers {
	padding: 0px;
	padding-top: 5px;
	text-align: right;
	overflow: hidden;
	width: 40px;
	border-right: 1px solid black;
	background-color: #e6e6fa;
}

.CodeMirror-line-numbers div {
	display: block;
	font-family:"Lucida Console", monospace;
    font-size: 13px;
    line-height: 18px;
	padding-right: 5px;
}

img.tabclose {
	padding-left: 8px;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	vertical-align: text-bottom;
}

/*
 * HTML Editor view
 */

#simple-editor {
    display: flex;
    flex-direction: column;
    position: relative;
}

#simple-editor #bubbles {
    position: absolute;
    bottom: 10px;
    right: 20px;
}
#simple-editor #bubbles .badge {
    display: block;
    margin-top: 5px;
}

.htmlview {
    flex: 1;
}

.htmlview .active[x-editable] {
    background-color: #FAFAFA;
    border: 1px solid #DDD;
/*    -webkit-transition: all 1s linear;*/
}

.blockOverlay {
	background-color: black;
	opacity: 0.4;
}





.saveNotify {
    position:absolute; 
    bottom:22px; 
    right:7px; 
    z-index:800;
    background-color: #FFFF69; 
    padding:10px; 
    border: 1px solid black;
    border-radius: 5px;
    -moz-border-radius: 15px;
}

.notifyTip {
    font-size:12px; float:right;
}

.saveNotify span {
    font-weight: bold;
}


#objects-editor, #motifs-editor {
    display: flex;
    flex-direction: column;
}

.scrolled {
    flex: 1;
    overflow: auto;
}

#source-editor .CodeMirror-wrap pre.CodeMirror-line,
#source-editor .CodeMirror-wrap pre.CodeMirror-line-like {
	word-wrap: anywhere;
}
