#summary-view-editor {
	background: white;
}

#summary-view {
	padding: 1em;
}

#summary-view .summary-cover-area {
	float: left;
	margin: 1em;
	margin-right: 2em;
}

#summary-view .book-cover {
	height: 300px;
	width: 216px;
}

#summary-view p {
	margin: 0.5em;
}

#summary-view label {
	font-weight: bold;
}

#summary-view .book-cover {

}
