html {
  cursor: text;
}

.editbox {
  margin: .4em;
  padding: 0;
  /* fnp changes */
  margin-top: 5px;
  margin-left: 5px;
  font-family: "Lucida Console", monospace;
  font-size: 13px;
  line-height: 18px;
  /* end fnp changes */
  color: black;
}

.editbox p {
  margin: 0;
}

span.xml-tagname {
  color: #A0B;
}

span.xml-attribute {
  color: #281;
}

span.xml-punctuation {
  color: black;
}

span.xml-attname {
  color: #00F;
}

span.xml-comment {
  color: #A70;
}

span.xml-cdata {
  color: #48A;
}

span.xml-processing {
  color: #999;
}

span.xml-entity {
  color: #A22;
}

span.xml-error {
 color: #F00 !important;
  /* fnp changes */
  font-weight: bolder;
  /* end fnp changes */
}

span.xml-text {
  color: black;
}
