{% load i18n %}
<div id="side-annotations">
    <!-- annotations toolbar -->
    <div class="toolbar">
        <button class="refresh" title="Przypisy autorskie">pa</button>
        <button class="refresh active" title="Przypisy edytorskie">pe</button>
        <button class="refresh" title="Przypisy redakcyjne">pr</button>
        <button class="refresh" title="Przypisy tłumacza">pt</button>
        <div class="toolbar-end">
        </div>
    </div>
    <div class="error-message">
    </div>
    <div class="annotations-list">
    </div>
    <div class="spinner">
        <img src='/media/static/img/spinner.gif' />
    </div>
</div>
