<div class="vsplitbar" title="Klinknij aby (ro)zwinąć galerię.">
</div>
<div id="side-gallery">
    <!-- gallery toolbar -->
    <div class="toolbar">
        <button class="previous-page">
            <img src="{{STATIC_URL}}icons/go-previous.png" alt="Poprzednia" title="Poprzednia"/>
        </button><input type="text" size="3" maxlength="3" value="1" class="page-number" />
        <button class="next-page">
            <img src="{{STATIC_URL}}icons/go-next.png" alt="Następna" title="Następna"/>
        </button>
        <button class="zoom-in">
            Powiększ
        </button>
        <button class="zoom-out">
            Pomniejsz
        </button>
        <div class="toolbar-end">
        </div>
    </div>
    <div class="error_message">
    </div>
    <div class="gallery-image">
        <img src="{{MEDIA_URL}}/images/empty.png" />
    </div>
</div>