{% load i18n %}
<div id="side-gallery">
    <!-- gallery toolbar -->
    <div class="toolbar">
        <button class="start-page" alt="{% trans "Go to first image of this part" %}" title="{% trans "Go to first image of this part" %}">
            <img src="{{STATIC_URL}}icons/revert.png"/>
        </button>
        <button class="previous-page" alt="{% trans "Previous" %}" title="{% trans "Previous" %}">
            <img src="{{STATIC_URL}}icons/go-previous.png"/>
        </button>
        <input type="text" size="3" maxlength="3" value="0" class="page-number" />
        <span id="imagesCount" id="">/0</span>
        <button class="next-page" alt="{% trans "Next" %}" title="{% trans "Next" %}">
            <img src="{{STATIC_URL}}icons/go-next.png"/>
        </button>
        <button class="zoom-in">{% trans "Zoom in" %}</button>
        <button class="zoom-out">{% trans "Zoom out" %}</button>
        <div class="toolbar-end">
        </div>
    </div>
    <div class="error_message">
    </div>
    <div class="gallery-image">
        <img src="{{MEDIA_URL}}images/empty.png" />
    </div>
</div>
