{% load i18n %}
<div id="history-view-editor" class="editor" style="display: none">
    <div class="toolbar">
    	<button type="button" id="make-diff-button">{% trans "Compare versions" %}</button>
		<button type="button" id="tag-changeset-button">{% trans "Mark version" %}</button>
		<button id="open-preview-button"
			data-basehref="{% url wiki_details_readonly document_name %}">{% trans "View version" %}</button>
	</div>
    <div id="history-view">
        <p class="message-box" style="display:none;"></p>

		<table id="changes-list-container">
        <tbody id="changes-list">
        </tbody>
		<tbody style="display: none;">
			<tr class="entry row-stub">
			<td data-stub-value="version"></td>
			<td>
				<span data-stub-value="description"></span>
				<br />
            	<span data-stub-value="author"></span>, <span data-stub-value="date"></span>
			</td>
			<td data-stub-value="tag">
			</td>
        	</tr>
		</tbody>
		</table>
    </div>
</div>
