{% load i18n %}
<div id="history-view-editor" class="editor" style="display: none">
    <div class="toolbar">
    	<button type="button" id="make-diff-button"
			data-enabled-when="2" disabled="disabled">{% trans "Compare versions" %}</button>
		<button type="button" id="pubmark-changeset-button"
			data-enabled-when="1" disabled="disabled">{% trans "Mark for publishing" %}</button>
		<button type="button" id="doc-revert-button"
			data-enabled-when="1" disabled="disabled">{% trans "Revert document" %}</button>
		<button id="open-preview-button" disabled="disabled"
			data-enabled-when="1"
			data-basehref="{% url wiki_editor_readonly chunk.book.slug chunk.slug %}">{% trans "View version" %}</button>

	</div>
    <div id="history-view">
        <p class="message-box" style="display:none;"></p>

		<table id="changes-list-container">
        <tbody id="changes-list">
        </tbody>
		<tbody style="display: none;">
			<tr class="entry row-stub">
			<td data-stub-value="version"></td>
			<td>
				<span data-stub-value="description"></span>
				<br />
            	<span data-stub-value="author"></span>, <span data-stub-value="date"></span>
			</td>
			<td>
                <div data-stub-value="publishable"></div>
                <div data-stub-value="tag"></div>
			</td>
        	</tr>
		</tbody>
		</table>
    </div>
</div>
