{% load i18n %}
<div id="summary-view-editor" class="editor" style="display: none">
    <!-- <div class="toolbar">
    </div> -->
    <div id="summary-view">
		<img class="book-cover" src="{{ STATIC_URL }}img/sample_cover.png">

		<h2>
			<label for="title">{% trans "Title" %}:</label>
			<span data-ui-editable="true" data-edit-target="meta.displayTitle"
			>{{ chunk.pretty_name }}</span>
		</h2>
		<p>
			<label>{% trans "Document ID" %}:</label>
			<span>{{ chunk.book.slug }}/{{ chunk.slug }}</span>
		</p>
		<p>
			<label>{% trans "Current version" %}:</label>
			{{ chunk.revision }} ({{ chunk.head.created_at }})
		<p>
			<label>{% trans "Last edited by" %}:</label>
			{{ chunk.head.author }}
		</p>
		<p>
			<label for="gallery">{% trans "Link to gallery" %}:</label>
			<span data-ui-editable="true" data-edit-target="meta.galleryLink"
			>{{ chunk.book.gallery }}</span>
		</p>
		<p>
		    <label>{% trans "Characters in document" %}:</label>
		    <span id="charcount"></span> (<span id="charcount_pages"></span> {% trans "pages" %}<span id="charcount_untagged">, {% trans "untagged" %}</span>)
		</p>

		<p><button type="button" id="publish_button">{% trans "Publish" %}</button></p>
	</div>
</div>
