{% extends "base.html" %}
{% load compressed i18n %}

{% block title %}{{ document_name }} - {{ block.super }}{% endblock %}

{% block extrahead %}
{% compressed_css 'listing' %}
{% endblock %}

{% block extrabody %}
{% compressed_js 'listing' %}
{% endblock %}

{% block maincontent %}
<h1><img src="{{ STATIC_URL }}img/logo.png" alt="Home">{% trans "Platforma Redakcyjna" %}</h1>
<div id="wiki_layout_left_column">
	{% block leftcolumn %}
	{% endblock leftcolumn %}
</div>
<div id="wiki_layout_right_column">
	{% block rightcolumn %}
	{% endblock rightcolumn %}
</div>
{% endblock maincontent %}