{% load i18n %}
<div id="save_dialog" class="dialog" data-ui-jsclass="SaveDialog">
	<form method="POST" action="">
	<p>{{ forms.text_save.comment.label }}</p>
	<p class="help_text">
		{{ forms.text_save.comment.help_text}}
		<span data-ui-error-for="{{ forms.text_save.comment.name }}"> </span>
	</p>
	{{forms.text_save.comment }}



	{% for f in forms.text_save.hidden_fields %}
		{{ f }}
	{% endfor %}

	<p data-ui-error-for="__all__"> </p>

	<p class="action_area">
		<button type="submit" class"ok" data-ui-action="save">Zapisz</button>
		<button type="button" class="cancel" data-ui-action="cancel">Anuluj</button>
	</p>
	</form>
</div>
