{% load i18n %}
{% load pagination_tags %}
{% load document_short_html from document_list %}

<table class="table table-striped">
    {% autopaginate books 100 %}
    <thead>
        <th>{% trans "Title" %}</th>
        <th>{% trans "Owner" %}</th>
        <th>{% trans "Stage" %}</th>
        <th>{% trans "Assigned to" %}</th>
        <th>{% trans "Deadline" %}</th>
        <th></th>
    </thead>
    <tbody>
    {% for doc in books %}
        {% document_short_html doc %}
    {% endfor %}
    <tr><th class='paginator' colspan="5">
        {% paginate %}
        </th></tr>
    </tbody>
</table>
{% if not books %}
    <p>{% trans "No resources found." %}</p>
{% endif %}

<select name="other-user" style="display:none;">
  {% for user in other_users %}
  <option {% if request.GET.user == user.username %}selected="selected"
          {% endif %}value="{{ user.username }}">{{ user.first_name }} {{ user.last_name }} ({{ user.count }})</option>
  {% endfor %}
</select>
