{% load i18n %}

    <tr>
        <td><a href="{% url 'catalogue_html' book.pk %}">{{ book.meta.title }}</a></td>
        <td>
            {% if book.owner_user %}
                {{ book.owner_user.get_full_name }}
            {% else %}
                <a href="{{ book.owner_organization.get_absolute_url }}">{{ book.owner_organization }}</a>
            {% endif %}
            {% if am_owner %}
                <a href="{% url 'catalogue_book_owner' book.pk %}">({% trans "change" %})</a>
            {% endif %}
            </td>
        <td>{{ book.stage|default:"–" }}</td>
        <td class="{% if book.is_overdue %}alert-danger{% endif %}">{% if book.assigned_to %}{{ book.assigned_to.get_full_name }}{% endif %}</td>
        <td class="{% if book.is_overdue %}alert-danger{% endif %}">{{ book.get_plan.deadline|default:"–" }}</td>
        <td>
            {% if am_owner %}
                <div class="btn-group-vertical">
                    <a class="btn btn-default" href="{% url 'wiki_editor' book.pk %}">{% trans "Edit" %}</a>
                    <a class="btn btn-default" href="{% url 'catalogue_book_schedule' book.pk %}">{% trans "Schedule" %}</a>
                    <a class="btn btn-default" href="{% url 'catalogue_book_delete' book.pk %}">{% trans "Delete" %}</a>
                </div>
            {% endif %}
        </td>
    </tr>
