{% load i18n %}

<tr>
    <td><input type="checkbox" name="select_chunk" value="{{chunk.id}}" data-book-id="{{chunk.book.id}}" /></td>
    <td class='book-settings-column'></td>
    <td><a href="{% url catalogue_chunk_edit chunk.book.slug chunk.slug %}" title='{% trans "Chunk settings" %}'>[c]</a></td>
    <td><a target="_blank" href="{{ chunk.get_absolute_url }}">
            <span class='chunkno'>{{ chunk.number }}.</span>
            {{ chunk.title }}</a></td>
    <td>{% if chunk.stage %}
            {{ chunk.stage }}
        {% else %}
            –
        {% endif %}</td>
        <td class='user-column'>{% if chunk.user %}
            <a href="{% url catalogue_user chunk.user.username %}">
                {{ chunk.user.first_name }} {{ chunk.user.last_name }}
            </a>{% else %}
            
            {% endif %}</td>
</td>
<td>
    {% if chunk.new_publishable %}p{% endif %}
    {% if chunk.changed %}+{% endif %}
</td>
</tr>
