-i https://py.mdrn.pl/simple

## Python libraries
merge3==0.0.13
PyYAML==6.0
Pillow==9.5.0
oauth2
httplib2 # oauth2 dependency
python-slugify==8.0.1
python-docx==0.8.11
Wikidata==0.7

librarian==24.5.8

## Django
Django==4.2.22
fnpdjango==0.7
django-pipeline==2.1.0
django-cas-ng==4.3.0
sorl-thumbnail==12.9.0
fnp-django-pagination==2.2.6
django-gravatar2==1.4.4
django-extensions==3.2.3
django-bootstrap4==23.1
libsasscompiler==0.1.9
django-debug-toolbar==4.1.0
django-admin-numeric-filter==0.1.9
djangorestframework==3.14.0
django-filter==23.2
django-modeltranslation==0.18.10
django-admin-ordering==0.17
django-reversion==5.0.6

sentry-sdk==1.25.1
