-i https://py.mdrn.pl/simple

## Python libraries
merge3==0.0.8
PyYAML>=3.0
Pillow
oauth2
httplib2 # oauth2 dependency
python-slugify
python-docx==0.8.11
Wikidata==0.6.1

librarian==2.4.8

## Django
Django==4.0.6
fnpdjango==0.6
django-pipeline==2.0.8
django-cas-ng==4.3.0
sorl-thumbnail==12.8.0
fnp-django-pagination==2.2.5
django-gravatar2==1.4.4
django-extensions==3.2.0
django-bootstrap4==22.1
libsasscompiler==0.1.9
django-debug-toolbar==3.5.0
django-admin-numeric-filter @ git+https://github.com/lukasvinclav/django-admin-numeric-filter.git@83853dfcc8d354c7aea8020a075bbd83dc8ca171
djangorestframework==3.13.1
django-filter==22.1
django-modeltranslation==0.18.4
django-admin-ordering==0.15

sentry-sdk==1.8.0
