-i https://py.mdrn.pl/simple

## Python libraries
merge3==0.0.2
PyYAML>=3.0
Pillow
oauth2
httplib2 # oauth2 dependency
python-slugify

librarian==1.7.6

## Django
Django==2.0.13
fnpdjango==0.4.3
django-pipeline==1.6.14
django-cas-ng==3.6.0
sorl-thumbnail==12.5.0
django-maintenancemode>=0.9
fnp-django-pagination==2.2.4
django-gravatar2==1.4.2
django-extensions==2.1.6

sentry-sdk==0.12.2
