{% load i18n %}
{% load username from common_tags %}

{% if book.single %}
    {% with chunk as chunk %}
    <tr class="table-sm">
        <td><input type="checkbox" name="select_book" value="{{book.id}}" data-chunk-id="{{chunk.id}}"/></td>
	<td><a class="btn btn-sm btn-outline-secondary" href="{% url 'documents_book' book.slug %}" title="{% trans "Book settings" %}">&#x1f4d5;</a></td>
	<td><a class="btn btn-sm btn-outline-secondary" href="{% url 'documents_chunk_edit' book.slug chunk.slug %}" title="{% trans "Chunk settings" %}">&#x1f4dc;</a></td>
        <td><a class="btn btn-primary" target="_blank"
                    href="{% url 'wiki_editor' book.slug %}">
                    {{ book.title }}</a></td>
        <td>{% if chunk.stage %}
            {{ chunk.stage }}
        {% else %}–
        {% endif %}</td>
        <td class='user-column'>{% if chunk.user %}<a href="{% url 'documents_user' chunk.user.username %}">{{ chunk.user|username }}</a>{% endif %}</td>
        <td>
          {% if book.published %}
            <span class="badge badge-info" title="{% trans "published" %}">opubl.</span>
	  {% endif %}
          {% if book.new_publishable %}
            <span class="badge badge-primary" title="{% trans "publishable" %}">do publ.</span>
	  {% endif %}
          {% if chunk.changed %}
            <span class="badge badge-warning title="{% trans "changed" %}">zmiany</span>
	  {% endif %}
        </td>
        <td>{{ book.project.name }}</td>
    </tr>
    {% endwith %}
{% else %}
    <tr class="table-sm">
      <td><input type="checkbox" name="select_book" value="{{book.id}}"/></td>
      <td><a class='btn btn-sm btn-outline-secondary' href="{% url 'documents_book' book.slug %}" title="{% trans "Book settings" %}">&#x1f4d5;</a></td>
      <td></td>
      <td>{{ book.title }}</td>
      <td></td>
      <td class='user-column'></td>
      <td>
        {% if book.published %}
          <span class="badge badge-info" title="{% trans "published" %}">opubl.</span>
	{% endif %}
        {% if book.new_publishable %}
          <span class="badge badge-info" title="{% trans "publishable" %}">do publ.</span>
	{% endif %}
      </td>
      <td>{{ book.project.name }}</td>
    </tr>
{% endif %}
