{% extends "catalogue/base.html" %}
{% load i18n %}

{% block inner_content %}

    <h1>{% trans "Edit user data" %}</h1>


    <form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
        {{ form.non_field_errors }}
        <label for="first_name">{% trans "First name" %}</label>
            {{ form.first_name.errors }}
            <input class="form-control" name="first_name" type="text" value="{{ form.first_name.value|default:"" }}">
        <label for="last_name">{% trans "Last name" %}</label>
            {{ form.last_name.errors }}
            <input class="form-control" name="last_name" type="text" value="{{ form.last_name.value|default:"" }}">

        <label for="logo">{% trans "Photo" %}</label>
            {{ form.logo.errors }}
            <div>
            {{ form.logo }}
            </div>
        <label for="country">{% trans "Country" %}</label>
            {{ form.country.errors }}
            <select class="form-control" name="country">
                <option value=''>-</option>
                {% for c, t in form.cts %}
                    <option value='{{ c }}' {% if form.country.value == c %}selected="selected"{% endif %}>{{ t }}</option>
                {% endfor %}
            </select>
        <label for="www">{% trans "WWW" %}</label>
            {{ form.www.errors }}
            <input class="form-control" name="www" type="www" value="{{ form.www.value|default:"" }}">
        <label for="title">{% trans "Description" %}</label>
            {{ form.description.errors }}
            <textarea class="form-control" name="description">{{ form.description.value|default:"" }}</textarea>
        <label for="title">{% trans "Projects" %}</label>
            {{ form.projects.errors }}
            <textarea class="form-control" name="projects">{{ form.projects.value|default:"" }}</textarea>
	    {% trans "Enter each line as: Internet address, language, description, separated with spaces" %}<br/>

        <button style="margin-top:1em;" class="btn btn-default" type="submit">{% trans "Change" %}</button>
    </form>


{% endblock %}
