{% extends "catalogue/base.html" %}
{% load i18n %}

{% block inner_content %}

    <h1>{% trans "Join organization" %}</h1>

    {% blocktrans with url=org.get_absolute_url %}
    <p>Your membership in <strong><a href="{{ url }}">{{ org }}</a></strong> will have to be confirmed by
    the organization owner.</p>
    {% endblocktrans %}

    <form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
        <button style="margin-top:1em;" class="btn btn-default" type="submit">{% trans "Join" %}</button></td></tr>
    </form>


{% endblock %}
